openapi: 3.2.0
info:
  title: Firma Partner Signing Requests API
  description: RESTful API for document signing and template management.
  version: 01.38.00
  contact:
    name: API Support
    url: https://firma.com/support
servers:
- url: https://api.firma.dev/functions/v1/signing-request-api
  description: Production API - Recommended (Current)
- url: https://api.firma.dev/api/v1
  description: Production API - Planned
security:
- ApiKeyAuth: []
tags:
- name: Signing Requests
  description: Document signing request operations
paths:
  /signing-requests:
    get:
      summary: List Signing Requests
      description: Retrieve a paginated list of signing requests
      tags:
      - Signing Requests
      security:
      - ApiKeyAuth: []
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
        description: Page number
      - name: page_size
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 50
        description: Items per page
      - name: name
        in: query
        schema:
          type: string
        description: Filter by signing request name (partial match, case-insensitive)
      - name: status
        in: query
        schema:
          type: string
          enum:
          - not_sent
          - in_progress
          - finished
          - cancelled
          - declined
          - deleted
          - expired
        description: 'Filter by signing request status. Supports multiple comma-separated values.


          **Available statuses:**

          - `not_sent`: Request created but not yet sent to signers

          - `in_progress`: Sent to signers but not completed, cancelled, declined, or expired

          - `finished`: All signers have completed

          - `cancelled`: Request was cancelled by sender

          - `declined`: A signer declined to sign (request stopped)

          - `deleted`: Soft-deleted records (normally hidden)

          - `expired`: Sent but past expiration time (sent_on + expiration_hours < now)


          **Example:** `?status=in_progress,expired`


          **Note:** The `expired` status uses post-filtering which may have performance implications on large datasets.'
      - name: created_after
        in: query
        schema:
          type: string
          format: date-time
        description: Filter signing requests created after this date (ISO 8601 format)
      - name: created_before
        in: query
        schema:
          type: string
          format: date-time
        description: Filter signing requests created before this date (ISO 8601 format)
      - name: signer_email
        in: query
        schema:
          type: string
        description: Filter by signer email address (exact match)
      - name: signer_name
        in: query
        schema:
          type: string
        description: Filter by signer name (partial match, case-insensitive)
      - name: sort_by
        in: query
        schema:
          type: string
          enum:
          - name
          - created_on
          - expiration_hours
          - sent_on
          - finished_on
          default: created_on
        description: Field to sort by
      - name: sort_order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Sort order
      responses:
        '200':
          description: Signing requests retrieved successfully
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: 'Rate limit: 200 requests per minute'
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SigningRequestListResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/RateLimitError'
      operationId: listSigningRequests
      x-codeSamples:
      - lang: TypeScript
        label: '@firma-dev/sdk'
        source: 'import { FirmaClient } from "@firma-dev/sdk";


          const firma = new FirmaClient({ apiKey: "YOUR_API_KEY" });


          const response = await firma.signingRequests.listSigningRequests();

          console.log(response);'
    post:
      summary: Create Signing Request
      description: 'Create a new signing request either from a PDF document (document-based) or from an existing template (template-based). For document-based creation, allow_editing_before_sending is automatically set to true. For template-based creation, properties are inherited from the template and can be overridden.


        **Temporary ID Pattern**: For document-based creation, you can reference recipients before they''re created using temporary IDs (format: ''temp_X'' where X is any identifier, e.g., ''temp_1'', ''temp_alice''). Use these temporary IDs in recipient.id, field.recipient_id, and reminder.recipient_id. The API validates all references and automatically maps temporary IDs to real UUIDs after recipients are created. The response contains only real UUIDs.


        **Temporary ID Validation**: Temporary IDs must start with ''temp_'', be unique across all recipients in the request, and all field/reminder references must point to recipients defined in the same request. Invalid format, duplicate IDs, or missing recipient references return a 400 error with detailed validation messages.'
      tags:
      - Signing Requests
      security:
      - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                required:
                - document
                description: Create signing request from a PDF document
                properties:
                  document:
                    type: string
                    format: byte
                    description: Base64-encoded PDF or DOCX document. DOCX files are automatically converted to PDF. Page count will be auto-extracted. For documents larger than 5 MB, use POST /documents and pass the document_id instead.
                  name:
                    type: string
                    maxLength: 255
                    description: Name for the signing request
                  description:
                    type: string
                    description: Description for the signing request
                  expiration_hours:
                    type: integer
                    minimum: 1
                    default: 168
                    description: 'Hours until the signing request expires (default: 168 = 7 days)'
                  recipients:
                    type: array
                    items:
                      $ref: '#/components/schemas/Recipient'
                    description: Recipients for the signing request. Use temporary IDs (e.g., 'temp_1') in the id field to reference recipients in fields/reminders.
                  fields:
                    type: array
                    items:
                      $ref: '#/components/schemas/Field'
                    description: Fields to place on the document. Use recipient_id to assign fields to recipients.
                  anchor_tags:
                    type: array
                    maxItems: 100
                    items:
                      $ref: '#/components/schemas/AnchorTag'
                    description: Anchor tags for automatic field placement. Text markers in the PDF are located and converted to positioned fields. The anchor text is removed from the PDF after processing. Fields created from anchor tags are added alongside any manually specified fields. Only available for document-based creation (not template-based).
                  reminders:
                    type: array
                    items:
                      $ref: '#/components/schemas/SigningRequestReminder'
                    description: Reminders to send to recipients
                  settings:
                    $ref: '#/components/schemas/SigningRequestSettings'
                    description: Signing request settings
                  language:
                    type:
                    - string
                    - 'null'
                    enum:
                    - en
                    - es
                    - it
                    - pt
                    - fr
                    - de
                    - el
                    - ru
                    - pl
                    - cs
                    - sv
                    - nl
                    - ro
                    - nb
                    - ca
                    description: Opt-in email language for this signing request. When set, all signer-facing emails (and their date formatting) use it. Omit or null to fall back to the workspace, then company, default language (unchanged behavior).
                  completion_title:
                    type:
                    - string
                    - 'null'
                    description: Heading shown on the completion page after signing. Inherits from the workspace, then the company, when omitted or null.
                    maxLength: 200
                  completion_message:
                    type:
                    - string
                    - 'null'
                    description: Body text shown on the completion page after signing. Inherits from the workspace, then the company, when omitted or null.
                    maxLength: 1000
                  completion_redirect_url:
                    type:
                    - string
                    - 'null'
                    format: uri
                    description: URL the signer is redirected to from the completion page. Must use https:// (http://localhost and http://127.0.0.1 are also accepted on test-mode signing requests). Inherits from the workspace, then the company, when omitted or null.
                    maxLength: 2000
                  completion_redirect_delay:
                    type:
                    - integer
                    - 'null'
                    description: Seconds the completion page waits before redirecting (0 redirects immediately). Only applies when a redirect URL resolves; the page falls back to 5 seconds when no level sets a delay. Inherits from the workspace, then the company, when omitted or null.
                    minimum: 0
                    maximum: 30
                  seal_participants:
                    type: array
                    items:
                      $ref: '#/components/schemas/SealParticipantInput'
                    description: Organization seal participants to include in the signing sequence
              - type: object
                required:
                - template_id
                description: Create signing request from a template. Supports partial updates for both recipients and fields.
                properties:
                  template_id:
                    type: string
                    format: uuid
                    description: ID of the template to create signing request from. The document, fields, and default recipients will be copied from the template.
                  name:
                    type: string
                    maxLength: 255
                    description: Custom name for signing request (defaults to template name if not provided)
                  description:
                    type: string
                    description: Custom description (defaults to template description if not provided)
                  expiration_hours:
                    type: integer
                    minimum: 1
                    description: Override template expiration hours
                  recipients:
                    type: array
                    items:
                      $ref: '#/components/schemas/Recipient'
                    description: Optional recipient overrides. Use template_user_id (preferred) or order (fallback) to match template users. Only user info (first_name, last_name, email, phone_number, address fields, title, company) can be updated - order and designation are always inherited from template. Recipients not provided will use template defaults. Recipients with designation CC are never matched to template users; they are added as CC recipients. The template's CC recipients are copied to the signing request, skipping any whose email (case-insensitive) is already on a CC recipient of the request.
                  fields:
                    type: array
                    items:
                      $ref: '#/components/schemas/Field'
                    description: 'Optional field overrides for partial updates. Use template_field_id (preferred) or variable_name (fallback) to match template fields. Only provided properties override template defaults. Supported override properties: type, required, position, read_only, read_only_value, format_rules, validation_rules, dropdown_options, date_default, date_signing_default, multi_group_id. Fields not matched are ignored. If fields array is omitted, all template fields are used as-is.'
                  settings:
                    $ref: '#/components/schemas/SigningRequestSettings'
                    description: Override template settings
                  language:
                    type:
                    - string
                    - 'null'
                    enum:
                    - en
                    - es
                    - it
                    - pt
                    - fr
                    - de
                    - el
                    - ru
                    - pl
                    - cs
                    - sv
                    - nl
                    - ro
                    - nb
                    - ca
                    description: Opt-in email language for this signing request. When set, all signer-facing emails (and their date formatting) use it. Omit or null to fall back to the workspace, then company, default language (unchanged behavior).
                  completion_title:
                    type:
                    - string
                    - 'null'
                    description: Heading shown on the completion page after signing. Falls back to the template value, then the workspace and company defaults, when omitted or null.
                    maxLength: 200
                  completion_message:
                    type:
                    - string
                    - 'null'
                    description: Body text shown on the completion page after signing. Falls back to the template value, then the workspace and company defaults, when omitted or null.
                    maxLength: 1000
                  completion_redirect_url:
                    type:
                    - string
                    - 'null'
                    format: uri
                    description: URL the signer is redirected to from the completion page. Must use https:// (http://localhost and http://127.0.0.1 are also accepted on test-mode signing requests). Falls back to the template value, then the workspace and company defaults, when omitted or null.
                    maxLength: 2000
                  completion_redirect_delay:
                    type:
                    - integer
                    - 'null'
                    description: Seconds the completion page waits before redirecting (0 redirects immediately). Only applies when a redirect URL resolves; the page falls back to 5 seconds when no level sets a delay. Falls back to the template value, then the workspace and company defaults, when omitted or null.
                    minimum: 0
                    maximum: 30
                  seal_participants:
                    type: array
                    items:
                      $ref: '#/components/schemas/SealParticipantInput'
                    description: Organization seal participants to include in the signing sequence
                example:
                  template_id: 21424147-11c0-43d5-ac5f-a1f7001b5607
                  name: Contract for Client X
                  recipients:
                  - template_user_id: template-user-uuid-1
                    first_name: Toni
                    last_name: Campins
                    email: acampins@cocodin.com
                  fields:
                  - template_field_id: field-uuid-1
                    read_only: true
                    read_only_value: 'Contract #12345'
                  - variable_name: company_name
                    read_only_value: Acme Corporation
              properties:
                seal_participants:
                  type: array
                  items:
                    $ref: '#/components/schemas/SealParticipantInput'
                  description: Organization seal participants to include in the signing sequence
                fields:
                  type: array
                  items:
                    allOf:
                    - $ref: '#/components/schemas/Field'
                    - type: object
                      properties:
                        seal_participant_temp_id:
                          type: string
                          description: Temporary ID of the seal participant this field is assigned to (matches temp_id in seal_participants array)
                    properties:
                      seal_participant_temp_id:
                        type: string
                        description: Temporary ID of the seal participant this field is assigned to (matches temp_id in seal_participants array)
                  description: Fields to place on the document
            examples:
              update-properties:
                summary: Update properties
                value:
                  name: Updated Contract Name
                  expiration_hours: 72
              update-recipient:
                summary: Update single recipient
                value:
                  recipient:
                    id: rec123-e89b-12d3-a456-426614174000
                    first_name: John
                    last_name: Smith
                    email: john.smith@example.com
                    designation: Signer
                    order: 1
              add-recipient:
                summary: Add new recipient
                value:
                  recipient:
                    first_name: Jane
                    last_name: Doe
                    email: jane@example.com
                    designation: Signer
                    order: 2
              add-date-field:
                summary: Add date field with formatting
                value:
                  field:
                    type: date
                    position:
                      x: 70
                      y: 45
                      width: 15
                      height: 3
                    page_number: 1
                    required: true
                    recipient_id: rec123-e89b-12d3-a456-426614174000
                    date_signing_default: true
                    format_rules:
                      dateFormat: MMMM dd, yyyy
              add-read-only-static-field:
                summary: Add read-only field with static value
                description: Creates a text field that displays a fixed value the signer cannot edit
                value:
                  field:
                    type: text
                    position:
                      x: 15
                      y: 20
                      width: 40
                      height: 3
                    page_number: 1
                    required: false
                    recipient_id: rec123-e89b-12d3-a456-426614174000
                    read_only: true
                    read_only_value: 'Contract #12345 - Acme Corporation'
              add-read-only-prefilled-field:
                summary: Add read-only field with recipient data
                description: Creates a text field that auto-populates with the recipient's email address (signer cannot edit)
                value:
                  field:
                    type: text
                    position:
                      x: 15
                      y: 30
                      width: 30
                      height: 3
                    page_number: 1
                    required: false
                    recipient_id: rec123-e89b-12d3-a456-426614174000
                    read_only: true
                    prefilled_data: email
      responses:
        '201':
          description: Signing request created successfully. The response may include non-blocking email or anchor-tag warnings.
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: 'Rate limit: 120 requests per minute'
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SigningRequestCreateResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
          description: Invalid input - must provide either 'document' or 'template_id', not both. Document must be valid base64-encoded PDF under 6MB request payload (~4.5MB raw). Template must exist and belong to workspace.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Template not found or does not belong to workspace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Anchor-tag processing is disabled on the edge fallback. Retry through the primary API route.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - code
                properties:
                  error:
                    type: string
                  code:
                    type: string
                    enum:
                    - ANCHOR_DISABLED_EDGE
        '429':
          $ref: '#/components/responses/RateLimitError'
      operationId: createSigningRequest
      x-codeSamples:
      - lang: TypeScript
        label: '@firma-dev/sdk'
        source: "import { FirmaClient } from \"@firma-dev/sdk\";\n\nconst firma = new FirmaClient({ apiKey: \"YOUR_API_KEY\" });\n\nconst response = await firma.signingRequests.createSigningRequest({\n    template_id: \"template_id\",\n    name: \"Updated Contract Name\",\n    expiration_hours: 72\n});\nconsole.log(response);"
  /signing-requests/create-and-send:
    post:
      summary: Create and Send Signing Request (Atomic)
      description: 'Create and immediately send a signing request in a single atomic operation. This endpoint combines the functionality of POST /signing-requests and POST /signing-requests/{id}/send.


        **Key Benefits:**

        - Single API call instead of two separate requests

        - Validates all send requirements BEFORE creating the signing request

        - Atomic credit deduction - only charges if everything succeeds

        - Returns status: ''sent'' immediately with first signer details

        - More efficient (saves 1 API call + round-trip time)


        **Validation:**

        - All standard creation validations (document/template, recipients, fields)

        - Additional send validations:

        - All signers must have first_name and valid email

        - Required read-only fields must have final_value populated

        - Prefilled data fields (variable_name) must have corresponding user data

        - Company must have sufficient credits (≥1)


        **Atomicity:**

        - If any validation fails, nothing is created

        - Credit is only deducted after successful creation and before email send

        - If email send fails after creation, signing request remains in ''draft'' status and credit is NOT deducted


        **Temporary ID Pattern:** For document-based creation, use temporary IDs (format: ''temp_X'') to reference recipients before creation. The API validates all references and automatically maps temporary IDs to real UUIDs.


        **Rate Limit:** 120 requests/minute (same as write operations)'
      tags:
      - Signing Requests
      security:
      - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  maxLength: 255
                  description: Signing request name
                  example: Employment Contract - John Doe
                description:
                  type: string
                  description: Signing request description
                  example: Full-time employment contract for Software Engineer position
                document:
                  type: string
                  format: byte
                  description: Base64-encoded PDF or DOCX document (mutually exclusive with template_id and document_id). DOCX files are automatically converted to PDF. For documents larger than 5 MB, use POST /documents and pass the document_id instead.
                  example: JVBERi0xLjQKJeLjz9MKMyAwIG9iago8PC9UeXBlIC9QYWdlCi9QYXJlbnQgMSAwIFIKL1Jlc291c...
                template_id:
                  type: string
                  format: uuid
                  description: Template ID to use (mutually exclusive with document and document_id)
                  example: 123e4567-e89b-12d3-a456-426614174000
                expiration_hours:
                  type: integer
                  minimum: 1
                  default: 168
                  description: 'Hours until signing request expires (default: 168 = 7 days)'
                  example: 168
                recipients:
                  type: array
                  description: 'Array of recipients. At least one must be a Signer. For document-based: required. For template-based: optional (uses template recipients if omitted). Use template_user_id (preferred) or order (fallback) to match template users. Recipients with designation CC are never matched to template users; they are added as CC recipients. The template''s CC recipients are copied to the signing request, skipping any whose email (case-insensitive) is already on a CC recipient of the request.'
                  minItems: 1
                  items:
                    $ref: '#/components/schemas/Recipient'
                fields:
                  type: array
                  description: Array of fields to be filled (document-based only)
                  items:
                    type: object
                    required:
                    - type
                    - page
                    - x
                    - y
                    properties:
                      recipient_id:
                        type: string
                        description: Temporary ID or UUID of recipient assigned to this field
                        example: temp_signer_1
                      type:
                        type: string
                        enum:
                        - signature
                        - initial
                        - text
                        - date
                        - checkbox
                        - dropdown
                        - radio_buttons
                        - text_area
                        - url
                        - file
                        - stamp
                        - approval_signature
                        - approval_checkmark
                        - approval_date
                        description: 'Field type. Accepts aliases: "initials" (normalized to "initial"), "textarea" (normalized to "text_area"), "radio" (normalized to "radio_buttons").'
                        example: signature
                      page:
                        type: integer
                        minimum: 1
                        description: PDF page number (1-indexed)
                        example: 1
                      x:
                        type: number
                        description: X coordinate on page
                        example: 100
                      y:
                        type: number
                        description: Y coordinate on page
                        example: 200
                      width:
                        type: number
                        default: 200
                        example: 200
                      height:
                        type: number
                        default: 50
                        example: 50
                      variable_name:
                        type: string
                        description: Variable name for prefilled data (e.g., 'phone_number', 'company'). If set, the corresponding recipient field must be populated.
                        enum:
                        - first_name
                        - last_name
                        - full_name
                        - email
                        - phone_number
                        - street_address
                        - city
                        - state_province
                        - postal_code
                        - country
                        - title
                        - company
                        example: phone_number
                      variable_defined_name:
                        type:
                        - string
                        - 'null'
                        maxLength: 100
                        description: Human-readable custom field definition name. Can be used as an alternative to variable_name for targeting fields in template-based creation.
                      required:
                        type: boolean
                        default: false
                        description: Whether field is required
                      read_only:
                        type: boolean
                        default: false
                        description: Whether field is read-only (pre-filled)
                      final_value:
                        type: string
                        description: Pre-filled value for read-only fields (required if read_only=true and required=true)
                        example: Software Engineer
                      background_color:
                        type:
                        - string
                        - 'null'
                        pattern: ^#([0-9A-Fa-f]{3}|[0-9A-Fa-f]{6})$
                        description: Background color as hex (e.g., '#FFFDE7')
                        example: '#FFFDE7'
                      dropdown_options:
                        description: Options for dropdown fields. Required when type is "dropdown".
                        example:
                        - Option A
                        - Option B
                        - Option C
                        oneOf:
                        - type: array
                          items:
                            type: string
                        - type: object
                      seal_participant_temp_id:
                        type: string
                        description: Temporary ID of the seal participant this field is assigned to (matches temp_id in seal_participants array)
                anchor_tags:
                  type: array
                  maxItems: 100
                  items:
                    $ref: '#/components/schemas/AnchorTag'
                  description: Anchor tags for automatic field placement. Text markers in the PDF are located and converted to positioned fields. The anchor text is removed from the PDF after processing. Fields created from anchor tags are added alongside any manually specified fields. Only available for document-based creation (not template-based).
                reminders:
                  type: array
                  description: Array of reminder configurations
                  items:
                    type: object
                    required:
                    - hours_before_expiration
                    properties:
                      hours_before_expiration:
                        type: integer
                        minimum: 1
                        description: Hours before expiration to send reminder
                        example: 24
                settings:
                  type: object
                  description: Signing request settings
                  properties:
                    use_signing_order:
                      type: boolean
                      default: true
                      description: Enforce signing order based on recipient.order. When false, all signers receive the document simultaneously.
                    allow_download:
                      type: boolean
                      default: true
                      description: Allow recipients to download document
                    attach_pdf_on_finish:
                      type: boolean
                      default: true
                      description: Attach completed PDF to completion email
                    send_signing_email:
                      type: boolean
                      default: true
                      description: Send email notification to signers
                    send_finish_email:
                      type: boolean
                      default: true
                      description: Send email when all signatures complete
                    send_expiration_email:
                      type: boolean
                      default: true
                      description: Send email when request expires
                    send_cancellation_email:
                      type: boolean
                      default: true
                      description: Send email when request is cancelled
                    hand_drawn_only:
                      type: boolean
                      default: false
                      description: Require signers to hand-draw their signatures instead of using typed signatures
                    identity_editable_fields:
                      type:
                      - array
                      - 'null'
                      items:
                        type: string
                        enum:
                        - name
                        - company
                        - title
                        - phone
                        - address
                      description: Identity fields signers can edit before signing. null = disabled. When set, a confirmation dialog appears allowing signers to edit the specified fields.
                      example:
                      - name
                      - company
                    notify_identity_change_webhook:
                      type: boolean
                      default: false
                      description: Send webhook event when a signer changes their identity
                    notify_identity_change_email:
                      type: boolean
                      default: false
                      description: Send email notification when a signer changes their identity
                document_id:
                  type: string
                  format: uuid
                  description: ID of a previously uploaded document (mutually exclusive with document and template_id). Obtain by calling POST /documents first.
                  example: 123e4567-e89b-12d3-a456-426614174000
                language:
                  type:
                  - string
                  - 'null'
                  enum:
                  - en
                  - es
                  - it
                  - pt
                  - fr
                  - de
                  - el
                  - ru
                  - pl
                  - cs
                  - sv
                  - nl
                  - ro
                  - nb
                  - ca
                  description: Opt-in email language for this signing request. When set, all signer-facing emails (and their date formatting) use it. Omit or null to fall back to the workspace, then company, default language (unchanged behavior).
                completion_title:
                  type:
                  - string
                  - 'null'
                  description: Heading shown on the completion page after signing. Falls back to the template value (when template_id is used), then the workspace and company defaults.
                  example: Thank you for signing
                  maxLength: 200
                completion_message:
                  type:
                  - string
                  - 'null'
                  description: Body text shown on the completion page after signing. Falls back to the template value (when template_id is used), then the workspace and company defaults.
                  example: Your signed copy is on its way to your inbox.
                  maxLength: 1000
                completion_redirect_url:
                  type:
                  - string
                  - 'null'
                  format: uri
                  description: URL the signer is redirected to from the completion page. Must use https:// (http://localhost and http://127.0.0.1 are also accepted on test-mode signing requests). Falls back to the template value (when template_id is used), then the workspace and company defaults.
                  example: https://example.com/thank-you
                  maxLength: 2000
                completion_redirect_delay:
                  type:
                  - integer
                  - 'null'
                  description: Seconds the completion page waits before redirecting (0 redirects immediately). Only applies when a redirect URL resolves; the page falls back to 5 seconds when no level sets a delay. Falls back to the template value (when template_id is used), then the workspace and company defaults.
                  example: 5
                  minimum: 0
                  maximum: 30
                seal_participants:
                  type: array
                  items:
                    $ref: '#/components/schemas/SealParticipantInput'
                  description: Organization seal participants to include in the signing sequence
              oneOf:
              - required:
                - document
              - required:
                - template_id
            examples:
              document-based:
                summary: Create and send with document
                value:
                  name: Employment Contract - John Doe
                  description: Full-time employment contract
                  document: JVBERi0xLjQKJeLjz9MK...
                  expiration_hours: 168
                  recipients:
                  - id: temp_signer_1
                    first_name: John
                    last_name: Doe
                    email: john.doe@example.com
                    designation: Signer
                    order: 1
                    phone_number: +1-555-0123
                    company: Acme Corp
                    title: Software Engineer
                  fields:
                  - recipient_id: temp_signer_1
                    type: signature
                    page: 1
                    x: 100
                    y: 500
                    width: 200
                    height: 50
                  - recipient_id: temp_signer_1
                    type: text
                    page: 1
                    x: 100
                    y: 400
                    width: 150
                    height: 30
                    variable_name: phone_number
                    required: true
                    read_only: true
                  settings:
                    use_signing_order: true
                    send_signing_email: true
              template-based:
                summary: Create and send from template
                value:
                  name: NDA - Jane Smith
                  template_id: 123e4567-e89b-12d3-a456-426614174000
                  recipients:
                  - first_name: Jane
                    last_name: Smith
                    email: jane.smith@example.com
                    designation: Signer
                    order: 1
                    company: Tech Startup Inc
                  expiration_hours: 72
      responses:
        '201':
          description: Signing request created and sent successfully. The response may include non-blocking anchor-tag warnings.
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: 'Rate limit: 120 requests per minute'
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAndSendResponse'
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                name: Employment Contract - John Doe
                description: Full-time employment contract
                status: sent
                document_url: https://storage.supabase.co/...
                page_count: 3
                expiration_hours: 168
                settings:
                  use_signing_order: true
                  allow_download: true
                  attach_pdf_on_finish: true
                  send_signing_email: true
                  send_finish_email: true
                  send_expiration_email: true
                  send_cancellation_email: true
                  hand_drawn_only: false
                created_date: '2026-01-12T10:30:00Z'
                sent_date: '2026-01-12T10:30:00Z'
                template_id: null
                first_signer:
                  id: rec456-e89b-12d3-a456-426614174000
                  name: John Doe
                  email: john.doe@example.com
                  signing_link: https://app.firma.dev/signing/rec456-e89b-12d3-a456-426614174000
                recipients:
                - id: rec456-e89b-12d3-a456-426614174000
                  first_name: John
                  last_name: Doe
                  name: John Doe
                  email: john.doe@example.com
                  designation: Signer
                  order: 1
                fields:
                - id: field123-e89b-12d3-a456-426614174000
                  type: signature
                  page: 1
                  x: 100
                  y: 500
                  width: 200
                  height: 50
                  required: true
                  recipient_id: rec456-e89b-12d3-a456-426614174000
                credits_remaining: 99
        '400':
          description: Validation error - invalid input or missing required signer data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAndSendValidationError'
              examples:
                missing-recipient-data:
                  value:
                    error: One or more signers are missing required information for sending
                    phase: send_validation
                    validation_errors:
                    - recipient_index: 1
                      recipient_email: john@example.com
                      missing_fields:
                      - phone_number
                      - company
                invalid-document:
                  value:
                    error: Document must be valid base64-encoded PDF
                    phase: create_validation
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '402':
          description: Insufficient credits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientCreditsError'
        '404':
          description: Template not found or does not belong to workspace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Anchor-tag processing is disabled on the edge fallback. Retry through the primary API route.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - code
                properties:
                  error:
                    type: string
                  code:
                    type: string
                    enum:
                    - ANCHOR_DISABLED_EDGE
        '422':
          description: Recipient email address is suppressed (previously bounced or marked as spam) and cannot be sent to
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          description: Unexpected server error. Any partially-created signing request is rolled back, so no draft is left behind. Client-actionable send-step failures return 400, 402, or 422 instead.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: createAndSendSigningRequest
      x-codeSamples:
      - lang: TypeScript
        label: '@firma-dev/sdk'
        source: "import { FirmaClient } from \"@firma-dev/sdk\";\n\nconst firma = new FirmaClient({ apiKey: \"YOUR_API_KEY\" });\n\nconst response = await firma.signingRequests.createAndSendSigningRequest({\n    \"name\": \"Employment Contract - John Doe\",\n    \"description\": \"Full-time employment contract\",\n    \"document\": \"JVBERi0xLjQKJeLjz9MK...\",\n    \"expiration_hours\": 168,\n    \"recipients\": [\n        {\n            \"id\": \"temp_signer_1\",\n            \"first_name\": \"John\",\n            \"last_name\": \"Doe\",\n            \"email\": \"john.doe@example.com\",\n            \"designation\": \"Signer\",\n            \"order\": 1,\n            \"phone_number\": \"+1-555-0123\",\n            \"company\": \"Acme Corp\",\n            \"title\": \"Software Engineer\"\n        }\n    ],\n    \"fields\": [\n        {\n            \"recipient_id\": \"temp_signer_1\",\n            \"type\": \"signature\",\n            \"page\": 1,\n            \"x\": 100,\n            \"y\": 500,\n            \"width\": 200,\n            \"height\": 50\n        },\n        {\n            \"recipient_id\": \"temp_signer_1\",\n            \"type\": \"text\",\n            \"page\": 1,\n            \"x\": 100,\n            \"y\": 400,\n            \"width\": 150,\n            \"height\": 30,\n            \"variable_name\": \"phone_number\",\n            \"required\": true,\n            \"read_only\": true\n        }\n    ],\n    \"settings\": {\n        \"use_signing_order\": true,\n        \"send_signing_email\": true\n    }\n});\nconsole.log(response);"
  /signing-requests/{id}:
    get:
      summary: Get Signing Request
      description: Retrieve a specific signing request by ID
      tags:
      - Signing Requests
      security:
      - ApiKeyAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Signing request retrieved successfully. Returns a detailed nested shape with status as an object and timestamps grouped together.
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: 'Rate limit: 200 requests per minute'
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SigningRequestDetail'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
      operationId: getSigningRequest
      x-codeSamples:
      - lang: TypeScript
        label: '@firma-dev/sdk'
        source: "import { FirmaClient } from \"@firma-dev/sdk\";\n\nconst firma = new FirmaClient({ apiKey: \"YOUR_API_KEY\" });\n\nconst response = await firma.signingRequests.getSigningRequest({\n    id: \"id\"\n});\nconsole.log(response);"
    patch:
      summary: Partially Update Signing Request
      description: Update signing request properties, a single recipient, OR a single field. Cannot update multiple entity types in one request. Cannot update after signing request has been sent, completed, or cancelled.
      tags:
      - Signing Requests
      security:
      - ApiKeyAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Signing request ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                description: Update signing request properties only
                properties:
                  name:
                    type: string
                    maxLength: 255
                    description: New name for signing request
                  description:
                    type: string
                    description: New description
                  document:
                    type: string
                    format: byte
                    description: Replace document with new base64-encoded PDF. Page count will be auto-extracted.
                  expiration_hours:
                    type: integer
                    minimum: 1
                    description: New expiration hours
                  settings:
                    $ref: '#/components/schemas/SigningRequestSettings'
                    description: Update settings
                  language:
                    type:
                    - string
                    - 'null'
                    enum:
                    - en
                    - es
                    - it
                    - pt
                    - fr
                    - de
                    - el
                    - ru
                    - pl
                    - cs
                    - sv
                    - nl
                    - ro
                    - nb
                    - ca
                    description: Opt-in email language for this signing request. When set, all signer-facing emails (and their date formatting) use it. Omit or null to fall back to the workspace, then company, default language (unchanged behavior).
                  completion_title:
                    type:
                    - string
                    - 'null'
                    description: Heading shown on the completion page after signing. Null or an empty string clears the override; omitted leaves it unchanged.
                    maxLength: 200
                  completion_message:
                    type:
                    - string
                    - 'null'
                    description: Body text shown on the completion page after signing. Null or an empty string clears the override; omitted leaves it unchanged.
                    maxLength: 1000
                  completion_redirect_url:
                    type:
                    - string
                    - 'null'
                    format: uri
                    description: URL the signer is redirected to from the completion page. Must use https:// (http://localhost and http://127.0.0.1 are also accepted on test-mode signing requests). Null or an empty string clears the override; omitted leaves it unchanged.
                    maxLength: 2000
                  completion_redirect_delay:
                    type:
                    - integer
                    - 'null'
                    description: Seconds the completion page waits before redirecting (0 redirects immediately). Only applies when a redirect URL resolves; the page falls back to 5 seconds when no level sets a delay. Null clears the override; omitted leaves it unchanged.
                    minimum: 0
                    maximum: 30
              - type: object
                required:
                - recipient
                description: Create or update a single recipient
                properties:
                  recipient:
                    $ref: '#/components/schemas/Recipient'
                    description: 'Recipient to create (omit id) or update (include id). When updating first_name or last_name, the name field is automatically reconstructed using existing values from database for any field not provided. Result: ''First Last'' if both exist, ''First'' if only first_name.'
              - type: object
                required:
                - field
                description: Create or update a single field
                properties:
                  field:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: Include to update existing field, omit to create new
                      type:
                        type: string
                        enum:
                        - text
                        - signature
                        - date
                        - checkbox
                        - initial
                        - initials
                        - dropdown
                        - radio_buttons
                        - textarea
                        - text_area
                        - url
                        - file
                        - stamp
                        - approval_signature
                        - approval_checkmark
                        - approval_date
                        description: Field type. Accepts 'initial' or 'initials', 'textarea' or 'text_area'. Required for new fields. url fields are automatically read-only. file fields allow signers to upload attachments (images/PDF). stamp fields display a pre-configured image.
                      position:
                        type: object
                        properties:
                          x:
                            type: number
                            description: X position on document
                          y:
                            type: number
                            description: Y position on document
                          width:
                            type: number
                            description: Field width
                          height:
                            type: number
                            description: Field height
                        description: Position object. All properties required for new fields.
                      page_number:
                        type: integer
                        minimum: 1
                        description: Page number (1-indexed). Required for new fields.
                      required:
                        type: boolean
                        description: Whether field is required
                      recipient_id:
                        type:
                        - string
                        - 'null'
                        format: uuid
                        description: Recipient ID to assign field to
                      variable_name:
                        type: string
                        description: Variable name for prefilled data mapping
                      variable_defined_name:
                        type:
                        - string
                        - 'null'
                        maxLength: 100
                        description: Human-readable custom field definition name. Can be used as an alternative to variable_name for targeting fields in template-based creation.
                      dropdown_options:
                        description: Options for dropdown fields
                        oneOf:
                        - type: array
                          items:
                            type: string
                        - type: object
                      format_rules:
                        type: object
                        description: Format rules (e.g., date format, urlDisplayText for url fields, acceptedFileTypes for file fields)
                      validation_rules:
                        type: object
                        description: Validation rules for the field
                      multi_group_id:
                        type: string
                        format: uuid
                        description: Group ID for radio button groups
                      date_default:
                        type: string
                        description: Default date value
                      date_signing_default:
                        type: boolean
                        description: For date fields, use signing date as default
                      read_only:
                        type: boolean
                        description: Whether field is read-only (automatically true for url fields)
                      read_only_value:
                        type: string
                        description: Static value for read-only fields. For url fields, this is the URL to link to.
                      final_value:
                        type: string
                        description: Final value of the field (for pre-filled read-only fields)
              - type: object
                required:
                - seal_participant
                description: Swap or assign a seal participant on a sent signing request. The seal_participant object identifies the participant slot and the target seal to apply.
                properties:
                  seal_participant:
                    type: object
                    required:
                    - participant_id
                    - swap_to_seal_id
                    description: Seal participant swap. Replaces the seal assigned to a participant slot with a different seal.
                    properties:
                      participant_id:
                        type: string
                        format: uuid
                        description: ID of the seal participant slot to update
                      swap_to_seal_id:
                        type: string
                        format: uuid
                        description: ID of the new organization seal to assign to the slot
            examples:
              update-properties:
                summary: Update properties
                value:
                  name: Updated Contract Name
                  expiration_hours: 72
              update-recipient:
                summary: Update single recipient
                value:
                  recipient:
                    id: rec123-e89b-12d3-a456-426614174000
                    first_name: John
                    last_name: Smith
                    email: john.smith@example.com
                    designation: Signer
                    order: 1
              add-recipient:
                summary: Add new recipient
                value:
                  recipient:
                    first_name: Jane
                    last_name: Doe
                    email: jane@example.com
                    designation: Signer
                    order: 2
              create-url-field:
                summary: Create URL field
                value:
                  field:
                    type: url
                    position:
                      x: 100
                      y: 200
                      width: 150
                      height: 30
                    page_number: 1
                    read_only_value: https://example.com/terms
                    format_rules:
                      urlDisplayText: View Terms & Conditions
              create-file-field:
                summary: Create file upload field
                value:
                  field:
                    type: file
                    position:
                      x: 100
                      y: 300
                      width: 200
                      height: 40
                    page_number: 1
                    required: true
                    format_rules:
                      acceptedFileTypes: image_and_pdf
              update-field:
                summary: Update existing field position
                value:
                  field:
                    id: field123-e89b-12d3-a456-426614174000
                    position:
                      x: 120
                      y: 220
      responses:
        '200':
          description: 'Signing request updated successfully. Response shape depends on what was updated: properties update returns {id, name, template_description, document_url, expiration_hours}; recipient update returns the full recipient object; field update returns the full field object. Response may include a ''warning'' field for email format validation warnings (non-blocking).'
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: 'Rate limit: 120 requests per minute'
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: Response when updating properties
                  properties:
                    id:
                      type: string
                      format: uuid
                    name:
                      type: string
                    template_description:
                      type:
                      - string
                      - 'null'
                    document_url:
                      type: string
                      format: uri
                    expiration_hours:
                      type: integer
                - type: object
                  description: Response when updating/creating a recipient
                - type: object
                  description: Response when updating/creating a field
        '400':
          description: Bad Request - Cannot update both properties and recipient in same request, or signing request already sent/completed/cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                cannot-update-sent:
                  value:
                    error: Cannot update signing request
                    message: Signing request has already been sent and cannot be modified
                mixed-update:
                  value:
                    error: Invalid request
                    message: Cannot update both properties and recipient in the same request
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Signing request or seal participant not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_found:
                  value:
                    error: Signing request not found
                    code: NOT_FOUND
                seal_not_found:
                  value:
                    error: Organization seal not found or unavailable in this workspace
                    code: NOT_FOUND
        '429':
          $ref: '#/components/responses/RateLimitError'
      operationId: patchSigningRequest
      x-participant-order-contract:
        membership: Signer and Approver recipients plus organization seal participants share one contiguous 1-based order space. CC recipients use a separate sequence and never consume a participant position.
        patch: 'On an unsent document, order must be in [1..n] for a move and [1..n+1] for a create. A move is shift-insert: every participant between the old and new positions is renumbered. A create with omitted order appends. Explicit order 0 is invalid.'
        lockedStates: A sent request accepts no membership or order change and returns SIGNING_ORDER_LOCKED_SENT. On an aborted-send request, an applied participant can narrow the reachable interval and an invalid move returns SIGNING_ORDER_LOCKED_APPLIED.
        create: When no seal is present, tied recipient order values are resolved deterministically and compacted to [1..n]. A seal-bearing create rejects a non-contiguous space or collision with INVALID_SIGNING_ORDER. When use_signing_order is false, or any recipient omits order, participant orders follow array order.
        sideEffects: Retrying a create after a later field write fails creates a second participant, matching the existing non-idempotent create contract.
        errors:
        - INVALID_SIGNING_ORDER
        - SIGNING_ORDER_LOCKED_SENT
        - SIGNING_ORDER_LOCKED_APPLIED
        - PARTICIPANTS_CHANGED
      x-codeSamples:
      - lang: TypeScript
        label: '@firma-dev/sdk'
        source: "import { FirmaClient } from \"@firma-dev/sdk\";\n\nconst firma = new FirmaClient({ apiKey: \"YOUR_API_KEY\" });\n\nconst response = await firma.signingRequests.patchSigningRequest({\n    id: \"id\",\n    body: {\n        name: \"Updated Contract Name\",\n        expiration_hours: 72\n    }\n});\nconsole.log(response);"
    put:
      summary: Comprehensive Update Signing Request
      description: 'Perform comprehensive updates to a signing request including properties, recipients, fields, and reminders. Cannot update after signing request has been sent, completed, or cancelled. All sections are optional but at least one must be provided.


        **Temporary ID Pattern for New Recipients**: When adding new recipients in a comprehensive update, use the ''_temp_id'' field (format: ''temp_X'') instead of ''id'' to establish relationships with fields and reminders. This allows you to create new recipients and reference them in fields/reminders in a single request. Use the ''id'' field to update existing recipients. Validation rules: (1) Temporary IDs must start with ''temp_''; (2) Each temporary ID must be unique within the request; (3) Fields and reminders can reference temporary IDs in their recipient_id property; (4) The API will automatically resolve temporary IDs to real UUIDs after recipient creation.'
      tags:
      - Signing Requests
      security:
      - ApiKeyAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Signing request ID
      requestBody:
        $ref: '#/components/requestBodies/UpdateSigningRequestBody'
      responses:
        '200':
          description: Signing request updated successfully. Returns the updated signing request and summary of changes made.
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: 'Rate limit: 120 requests per minute'
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SigningRequestUpdateResponse'
        '400':
          description: Validation errors. All section errors returned together.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SigningRequestUpdateError'
              example:
                error: Validation failed
                message: Multiple validation errors occurred
                details:
                  recipients:
                  - 'Recipient 1: email is invalid'
                  deleted_recipients:
                  - 'Cannot reassign: designations must match'
                  fields:
                  - 'Field 2: x coordinate must be between 0 and 100'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
      operationId: updateSigningRequest
      x-participant-order-contract:
        membership: Signer and Approver recipients plus organization seal participants share one contiguous 1-based order space. CC recipients use a separate sequence and never consume a participant position.
        patch: 'On an unsent document, order must be in [1..n] for a move and [1..n+1] for a create. A move is shift-insert: every participant between the old and new positions is renumbered. A create with omitted order appends. Explicit order 0 is invalid.'
        lockedStates: A sent request accepts no membership or order change and returns SIGNING_ORDER_LOCKED_SENT. On an aborted-send request, an applied participant can narrow the reachable interval and an invalid move returns SIGNING_ORDER_LOCKED_APPLIED.
        create: When no seal is present, tied recipient order values are resolved deterministically and compacted to [1..n]. A seal-bearing create rejects a non-contiguous space or collision with INVALID_SIGNING_ORDER. When use_signing_order is false, or any recipient omits order, participant orders follow array order.
        sideEffects: Retrying a create after a later field write fails creates a second participant, matching the existing non-idempotent create contract.
        errors:
        - INVALID_SIGNING_ORDER
        - SIGNING_ORDER_LOCKED_SENT
        - SIGNING_ORDER_LOCKED_APPLIED
        - PARTICIPANTS_CHANGED
      x-codeSamples:
      - lang: TypeScript
        label: '@firma-dev/sdk'
        source: "import { FirmaClient } from \"@firma-dev/sdk\";\n\nconst firma = new FirmaClient({ apiKey: \"YOUR_API_KEY\" });\n\nconst response = await firma.signingRequests.updateSigningRequest({\n    id: \"id\",\n    signing_request_properties: {\n        name: \"Updated Contract Name\",\n        expiration_hours: 72\n    },\n    recipients: [{\n            id: \"rec1-e89b-12d3-a456-426614174000\",\n            first_name: \"John\",\n            last_name: \"Smith\",\n            email: \"john.smith@example.com\",\n            designation: \"Signer\",\n            order: 1\n        }, {\n            first_name: \"Jane\",\n            last_name: \"Doe\",\n            email: \"jane@example.com\",\n            designation: \"Signer\",\n            order: 2\n        }],\n    deleted_recipients: [{\n            recipient_id: \"rec2-e89b-12d3-a456-426614174000\",\n            field_action: \"reassign\",\n            reassign_to_recipient_id: \"rec1-e89b-12d3-a456-426614174000\"\n        }],\n    fields: [{\n            id: \"field1-e89b-12d3-a456-426614174000\",\n            type: \"signature\",\n            position: {\n                x: 15,\n                y: 85,\n                width: 30,\n                height: 10\n            },\n            page_number: 1,\n            required: true,\n            recipient_id: \"rec1-e89b-12d3-a456-426614174000\"\n        }],\n    reminders: [{\n            hours: 48,\n            all_users: true,\n            subject: \"Reminder: Please sign the document\",\n            message: \"This is a reminder to complete your signature.\"\n        }]\n});\nconsole.log(response);"
    delete:
      summary: Delete a signing request
      description: Deletes an unsent (draft) signing request. Only signing requests that have not been sent can be deleted. For sent signing requests, use the cancel endpoint instead.
      tags:
      - Signing Requests
      security:
      - ApiKeyAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Signing request ID
      responses:
        '200':
          description: Signing request deleted successfully
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: 'Rate limit: 120 requests per minute'
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SigningRequestDeleteResponse'
              example:
                message: Signing request deleted successfully
                signing_request_id: 550e8400-e29b-41d4-a716-446655440000
                deleted_on: '2026-05-30T10:00:00.000Z'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          description: Cannot delete a signing request that has been sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: Cannot delete a signing request that has been sent. Use cancel instead.
                code: ALREADY_SENT
        '429':
          $ref: '#/components/responses/RateLimitError'
      operationId: deleteSigningRequest
      x-codeSamples:
      - lang: TypeScript
        label: '@firma-dev/sdk'
        source: "import { FirmaClient } from \"@firma-dev/sdk\";\n\nconst firma = new FirmaClient({ apiKey: \"YOUR_API_KEY\" });\n\nconst response = await firma.signingRequests.deleteSigningRequest({\n    id: \"id\"\n});\nconsole.log(response);"
  /signing-requests/{id}/users:
    get:
      summary: Get signing request users
      description: Retrieve all recipients/users for a specific signing request
      tags:
      - Signing Requests
      security:
      - ApiKeyAuth: []
      parameters:
      - name: id
        in: path
        required: true
        description: Signing request ID
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Signing request users retrieved successfully
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: 'Rate limit: 200 requests per minute'
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Remaining requests in current window
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when rate limit resets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SigningRequestUserListResponse'
              example:
                results:
                - id: user123-e89b-12d3-a456-426614174000
                  name: Alice Johnson
                  email: alice@example.com
                  first_name: Alice
                  last_name: Johnson
                  designation: Signer
                  order: 1
                  finished_on: '2024-03-15T14:30:00Z'
                  declined_on: null
                  decline_reason: null
                  phone_number: +1-555-0101
                  street_address: null
                  city: null
                  state_province: null
                  postal_code: null
                  country: null
                  title: CEO
                  company: Acme Corp
                  custom_fields: null
                  required_fields:
                  - email
                  - first_name
                  missing_fields: []
                  required_read_only_fields: []
                  ready_to_send: true
                - id: user456-e89b-12d3-a456-426614174000
                  name: Bob Williams
                  email: bob@example.com
                  first_name: Bob
                  last_name: Williams
                  designation: Signer
                  order: 2
                  finished_on: null
                  declined_on: null
                  decline_reason: null
                  phone_number: null
                  street_address: null
                  city: null
                  state_province: null
                  postal_code: null
                  country: null
                  title: null
                  company: null
                  custom_fields: null
                  required_fields:
                  - email
                  - first_name
                  - phone_number
                  missing_fields:
                  - phone_number
                  required_read_only_fields:
                  - variable_name: contract_amount
                    field_type: number
                    has_value: false
                  ready_to_send: false
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
      operationId: listSigningRequestUsers
      x-codeSamples:
      - lang: TypeScript
        label: '@firma-dev/sdk'
        source: "import { FirmaClient } from \"@firma-dev/sdk\";\n\nconst firma = new FirmaClient({ apiKey: \"YOUR_API_KEY\" });\n\nconst response = await firma.signingRequests.listSigningRequestUsers({\n    id: \"id\"\n});\nconsole.log(response);"
  /signing-requests/{id}/fields:
    get:
      summary: Get signing request fields
      description: Retrieve all fields for a specific signing request with their values
      tags:
      - Signing Requests
      security:
      - ApiKeyAuth: []
      parameters:
      - name: id
        in: path
        required: true
        description: Signing request ID
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Signing request fields retrieved successfully
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: 'Rate limit: 200 requests per minute'
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Remaining requests in current window
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when rate limit resets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SigningRequestFieldListResponse'
              example:
                results:
                - id: field789-e89b-12d3-a456-426614174000
                  type: signature
                  recipient_id: user456-e89b-12d3-a456-426614174000
                  required: true
                  read_only: false
                  value: data:image/png;base64,iVBOR...
                  position:
                    x: 100.5
                    y: 200.75
                    width: 200
                    height: 50
                  page_number: 1
                  variable_name: null
                  variable_defined_name: null
                  companies_workspaces_signing_requests_id: sr123-e89b-12d3-a456-426614174000
                  companies_workspaces_signing_requests_users_id: user456-e89b-12d3-a456-426614174000
                  field_type: signature
                  x_postion: 100.5
                  y_position: 200.75
                  width: 200
                  heigh: 50
                  final_value: data:image/png;base64,iVBOR...
                  deleted: 0
                - id: field012-e89b-12d3-a456-426614174000
                  type: text
                  recipient_id: user456-e89b-12d3-a456-426614174000
                  required: true
                  read_only: false
                  value: Alice Johnson
                  position:
                    x: 150
                    y: 300
                    width: 250
                    height: 30
                  page_number: 1
                  variable_name: full_name
                  variable_defined_name: null
                  companies_workspaces_signing_requests_id: sr123-e89b-12d3-a456-426614174000
                  companies_workspaces_signing_requests_users_id: user456-e89b-12d3-a456-426614174000
                  field_type: text
                  x_postion: 150
                  y_position: 300
                  width: 250
                  heigh: 30
                  final_value: Alice Johnson
                  deleted: 0
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
      operationId: listSigningRequestFields
      x-codeSamples:
      - lang: TypeScript
        label: '@firma-dev/sdk'
        source: "import { FirmaClient } from \"@firma-dev/sdk\";\n\nconst firma = new FirmaClient({ apiKey: \"YOUR_API_KEY\" });\n\nconst response = await firma.signingRequests.listSigningRequestFields({\n    id: \"id\"\n});\nconsole.log(response);"
  /signing-requests/{id}/reminders:
    get:
      summary: Get signing request reminders
      description: Retrieve all reminders scheduled for a specific signing request
      tags:
      - Signing Requests
      security:
      - ApiKeyAuth: []
      parameters:
      - name: id
        in: path
        required: true
        description: Signing request ID
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Signing request reminders retrieved successfully
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: 'Rate limit: 200 requests per minute'
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Remaining requests in current window
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when rate limit resets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Reminder'
              example:
              - id: remind789-e89b-12d3-a456-426614174000
                hours: 48
                subject: 'Urgent: Document signature required'
                message: Please complete your signature at your earliest convenience.
                all_users: false
                template_user_id: user456-e89b-12d3-a456-426614174000
                date_created: '2024-03-10T09:00:00Z'
                date_changed: '2024-03-10T09:00:00Z'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
      operationId: listSigningRequestReminders
      x-codeSamples:
      - lang: TypeScript
        label: '@firma-dev/sdk'
        source: "import { FirmaClient } from \"@firma-dev/sdk\";\n\nconst firma = new FirmaClient({ apiKey: \"YOUR_API_KEY\" });\n\nconst response = await firma.signingRequests.listSigningRequestReminders({\n    id: \"id\"\n});\nconsole.log(response);"
  /signing-requests/{id}/audit:
    get:
      summary: Get signing request audit trail
      description: Retrieve the complete audit trail for a signing request, combining admin actions (created, edited, sent, cancelled) and signer actions (viewed, signed, declined, downloaded). Events are sorted chronologically.
      tags:
      - Signing Requests
      security:
      - ApiKeyAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Signing request ID
      responses:
        '200':
          description: Audit trail retrieved successfully
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: 'Rate limit: 120 requests per minute'
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditTrailListResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
      operationId: listSigningRequestAuditTrail
      x-codeSamples:
      - lang: TypeScript
        label: '@firma-dev/sdk'
        source: "import { FirmaClient } from \"@firma-dev/sdk\";\n\nconst firma = new FirmaClient({ apiKey: \"YOUR_API_KEY\" });\n\nconst response = await firma.signingRequests.listSigningRequestAuditTrail({\n    id: \"id\"\n});\nconsole.log(response);"
  /signing-requests/{id}/send:
    post:
      summary: Send signing request
      description: Send a signing request to all recipients via email. This triggers email delivery and sets the sent_on timestamp.
      tags:
      - Signing Requests
      security:
      - ApiKeyAuth: []
      parameters:
      - name: id
        in: path
        required: true
        description: Signing request ID
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Signing request sent successfully
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: 'Rate limit: 60 requests per minute'
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Remaining requests in current window
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when rate limit resets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendSigningRequestResponse'
              example:
                message: Signing request sent successfully
                signing_request_id: 123e4567-e89b-12d3-a456-426614174000
                recipients_notified: 3
                sent_date: '2024-03-20T10:15:00Z'
                expires_at: '2024-04-20T10:15:00Z'
        '400':
          description: Bad Request - Signing request already sent or expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                alreadySent:
                  value:
                    error: Bad Request
                    message: Signing request has already been sent
                expired:
                  value:
                    error: Bad Request
                    message: Signing request has expired
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
      operationId: sendSigningRequest
      x-codeSamples:
      - lang: TypeScript
        label: '@firma-dev/sdk'
        source: "import { FirmaClient } from \"@firma-dev/sdk\";\n\nconst firma = new FirmaClient({ apiKey: \"YOUR_API_KEY\" });\n\nconst response = await firma.signingRequests.sendSigningRequest({\n    id: \"id\"\n});\nconsole.log(response);"
  /signing-requests/{id}/cancel:
    post:
      summary: Cancel a signing request
      description: Cancels a signing request that hasn't been completed yet. Can only cancel requests that have been sent and are not already finished or cancelled.
      tags:
      - Signing Requests
      security:
      - ApiKeyAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Signing request ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  maxLength: 500
                  description: Optional cancellation reason
                notify_signers:
                  type: boolean
                  default: true
                  description: Whether to notify signers of cancellation
            example:
              reason: No longer needed
              notify_signers: true
      responses:
        '200':
          description: Signing request cancelled successfully
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: 'Rate limit: 120 requests per minute'
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelSigningRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          description: Cannot cancel (already cancelled, finished, or not sent)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimitError'
      operationId: cancelSigningRequest
      x-codeSamples:
      - lang: TypeScript
        label: '@firma-dev/sdk'
        source: "import { FirmaClient } from \"@firma-dev/sdk\";\n\nconst firma = new FirmaClient({ apiKey: \"YOUR_API_KEY\" });\n\nconst response = await firma.signingRequests.cancelSigningRequest({\n    id: \"id\",\n    reason: \"No longer needed\",\n    notify_signers: true\n});\nconsole.log(response);"
  /signing-requests/{id}/resend:
    post:
      summary: Resend signing request to specific recipients
      description: Resends signing request notifications to one or more recipients who are currently eligible to sign. For requests with signing order enabled, can only resend to recipients at the current active order. Cannot resend to recipients who have already signed.
      tags:
      - Signing Requests
      security:
      - ApiKeyAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Signing request ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - recipient_ids
              properties:
                recipient_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: Array of recipient user IDs to resend to
                  minItems: 1
                custom_message:
                  type: string
                  maxLength: 1000
                  description: Optional custom message to include in resend notification
            example:
              recipient_ids:
              - 123e4567-e89b-12d3-a456-426614174000
              custom_message: Gentle reminder to complete your signature
      responses:
        '200':
          description: Signing request resent successfully
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: 'Rate limit: 120 requests per minute'
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendSigningRequestResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          description: Cannot resend (recipients already signed, invalid signing order, or request not sent/cancelled/finished)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendConflictError'
        '429':
          $ref: '#/components/responses/RateLimitError'
      operationId: resendSigningRequest
      x-codeSamples:
      - lang: TypeScript
        label: '@firma-dev/sdk'
        source: "import { FirmaClient } from \"@firma-dev/sdk\";\n\nconst firma = new FirmaClient({ apiKey: \"YOUR_API_KEY\" });\n\nconst response = await firma.signingRequests.resendSigningRequest({\n    id: \"id\",\n    recipient_ids: [\"123e4567-e89b-12d3-a456-426614174000\"],\n    custom_message: \"Gentle reminder to complete your signature\"\n});\nconsole.log(response);"
  /signing-requests/{id}/download:
    get:
      summary: Download Signing Request Document
      description: 'Retrieve a download URL for a signing request''s signed document. For completed signing requests, returns the final signed PDF. For in-progress signing requests where partial download is enabled, returns a URL to the partially-signed document generated at the time of the last signer''s completion.


        **Partial downloads:** Partial downloads are only available when the signing request has `allow_partial_download` enabled in settings. If the document has not been partially generated yet, a `503` is returned — retry after the `Retry-After` interval.


        **URL expiry:** The `download_url` is a pre-signed URL that expires. The expiry timestamp is provided in `expires_at`.'
      tags:
      - Signing Requests
      security:
      - ApiKeyAuth: []
      parameters:
      - name: id
        in: path
        required: true
        description: Signing request ID
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Download URL retrieved successfully.
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: 'Rate limit: 200 requests per minute'
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SigningRequestDownloadResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Signing request not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: not_found
        '409':
          description: Signing request has not been sent yet. Download is only available after the request has been sent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: no_document_available
                message: Signing request has not been sent yet
        '429':
          $ref: '#/components/responses/RateLimitError'
        '503':
          description: Document generation is in progress. Retry after the indicated interval.
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds to wait before retrying
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                generation_timeout:
                  summary: Document generation timed out
                  value:
                    error: generation_timeout
                stale_at_publication:
                  summary: Document was stale at publication time
                  value:
                    error: stale_at_publication
      operationId: downloadSigningRequest
      x-codeSamples:
      - lang: TypeScript
        label: '@firma-dev/sdk'
        source: "import { FirmaClient } from \"@firma-dev/sdk\";\n\nconst firma = new FirmaClient({ apiKey: \"YOUR_API_KEY\" });\n\nconst response = await firma.signingRequests.downloadSigningRequest({\n    id: \"id\"\n});\nconsole.log(response);"
  /signing-requests/{id}/signers/{signer_id}/signature:
    get:
      operationId: retrieveSignerSignature
      summary: Retrieve Signer Signature Image
      description: Retrieve a signer's adopted signature as a base64 PNG data URI, separate from the signed PDF. A signer adopts one signature applied to all their signature fields, so no field_id is needed. Drawn signatures return the captured image; typed signatures are rendered to PNG server-side. The `image` is a `data:image/png;base64,...` URI usable directly in an ``. By default a signer-ID frame is overlaid (`include_frame=false` to omit). Every successful retrieval is audit-logged. Rate limited to 60/min. Legal validity rests on the sealed PDF and completion certificate, not this image.
      tags:
      - Signing Requests
      security:
      - ApiKeyAuth: []
      parameters:
      - name: id
        in: path
        required: true
        description: Signing request ID
        schema:
          type: string
          format: uuid
      - name: signer_id
        in: path
        required: true
        description: Signer (recipient) ID — the recipient_id from GET /fields
        schema:
          type: string
          format: uuid
      - name: include_frame
        in: query
        required: false
        description: Overlay the signer-ID frame on the image (default true). Set to false for the bare mark.
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: The signer's mark as a base64 PNG data URI.
          content:
            application/json:
[...]
