{
 "openapi": "3.0.3",
 "info": {
  "title": "Firma Partner API",
  "description": "RESTful API for document signing and template management.\n\n**Authentication**: All endpoints require API key authentication via the `Authorization` header. Use your API key directly without any prefix (e.g., `your-api-key`). The Bearer prefix is optional but not required.\n\n**Security Features**:\n- Input validation using Zod schemas with detailed field-level error messages\n- RSA-256 signed JWT tokens for embedded template access\n\n**Rate Limiting**: Rate limits are tiered based on operation type:\n- Read operations (GET): 200 requests per minute\n- Write operations (POST/PUT/PATCH/DELETE): 120 requests per minute\n- Webhook CRUD operations: 60 requests per minute\n- Webhook test: 10 requests per minute\n- API key regeneration/expiration: 1 request per minute\n- Webhook secret rotation: 1 request per minute\n\nWhen rate limits are exceeded, the API returns a `429 Too Many Requests` response with headers:\n- `X-RateLimit-Limit`: Maximum requests per minute for this endpoint\n- `X-RateLimit-Remaining`: Requests remaining in current window\n- `X-RateLimit-Reset`: Unix timestamp when limit resets\n- `Retry-After`: Seconds until retry is allowed\n\n**Error Handling**: All errors return structured JSON responses with `error` (human-readable message), `code` (machine-readable identifier), and `details` (field-level validation errors when applicable).\n\n**Embedded Template Integration**: The Firma Template Editor can be embedded in your application using a standalone JavaScript library.\n\n```html\n<!-- Load the Firma Template Editor library -->\n<script src=\"https://api.firma.dev/functions/v1/embed-proxy/template-editor.js\"></script>\n\n<script>\n// Generate JWT token via API first\nfetch('https://api.firma.dev/functions/v1/signing-request-api/generate-template-token', {\n  method: 'POST',\n  headers: {\n    'Authorization': 'YOUR_API_KEY',\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    companies_workspaces_templates_id: 'template-id'\n  })\n})\n.then(res => res.json())\n.then(data => {\n  // Initialize editor with JWT token\n  window.FirmaTemplateEditor.init({\n    container: '#firma-editor-container',\n    jwt: data.token,\n    templateId: 'template-id',\n    theme: 'dark',\n    readOnly: false,\n    onSave: (savedData) => {\n      console.log('Template saved:', savedData);\n    },\n    onError: (error) => {\n      console.error('Editor error:', error);\n    },\n    onLoad: (template) => {\n      console.log('Template loaded:', template);\n    }\n  });\n});\n```\n\n**X-Firma-Deprecation Header**: Some seal creation and image update operations return an `X-Firma-Deprecation` response header when called on the edge gateway, indicating the operation should be performed on the primary API host instead.",
  "version": "01.38.00",
  "contact": {
   "name": "API Support",
   "url": "https://firma.com/support"
  }
 },
 "servers": [
  {
   "url": "https://api.firma.dev/functions/v1/signing-request-api",
   "description": "Production API - Recommended (Current)"
  },
  {
   "url": "https://api.firma.dev/api/v1",
   "description": "Production API - Planned"
  }
 ],
 "security": [
  {
   "ApiKeyAuth": []
  }
 ],
 "tags": [
  {
   "name": "Company",
   "description": "Company information and settings"
  },
  {
   "name": "Workspaces",
   "description": "Workspace management operations"
  },
  {
   "name": "Templates",
   "description": "Template management operations"
  },
  {
   "name": "Signing Requests",
   "description": "Document signing request operations"
  },
  {
   "name": "Custom Fields",
   "description": "Custom field definition management for workspaces, templates, and signing requests"
  },
  {
   "name": "Webhooks",
   "description": "Webhook configuration and management"
  },
  {
   "name": "JWT Management",
   "description": "JWT token generation and revocation for embedded templates"
  },
  {
   "name": "Workspace Settings",
   "description": "Workspace configuration and settings"
  },
  {
   "name": "Email Domains",
   "description": "Email domain setup and verification for sending signing request emails from custom domains"
  },
  {
   "name": "Email Templates",
   "description": "Email template management for workspace and company-level customization of signing request notifications"
  },
  {
   "name": "Organization Seals",
   "description": "Organization seal management: create, update, revoke, and erase seals applied to signing requests"
  },
  {
   "name": "Signer Terms",
   "description": "Custom signer terms-of-service / consent statements, company-level with per-language workspace overrides"
  }
 ],
 "components": {
  "securitySchemes": {
   "ApiKeyAuth": {
    "type": "apiKey",
    "in": "header",
    "name": "Authorization",
    "description": "API key for authentication. Use your API key directly without any prefix (e.g., 'your-api-key'). Bearer prefix is optional but not required."
   }
  },
  "responses": {
   "ValidationError": {
    "description": "Bad Request - Validation failed",
    "content": {
     "application/json": {
      "schema": {
       "$ref": "#/components/schemas/Error"
      },
      "example": {
       "error": "Validation Error",
       "message": "Invalid input data",
       "details": {
        "name": "Name is required",
        "email": "Invalid email format"
       }
      }
     }
    }
   },
   "UnauthorizedError": {
    "description": "Unauthorized - Invalid or missing API key",
    "content": {
     "application/json": {
      "schema": {
       "$ref": "#/components/schemas/Error"
      },
      "example": {
       "error": "Unauthorized",
       "message": "Invalid API key"
      }
     }
    }
   },
   "ForbiddenError": {
    "description": "Forbidden - Insufficient permissions",
    "content": {
     "application/json": {
      "schema": {
       "$ref": "#/components/schemas/Error"
      },
      "example": {
       "error": "Forbidden",
       "message": "You do not have permission to access this resource"
      }
     }
    }
   },
   "NotFoundError": {
    "description": "Not Found - Resource does not exist",
    "content": {
     "application/json": {
      "schema": {
       "$ref": "#/components/schemas/Error"
      },
      "example": {
       "error": "Not Found",
       "message": "The requested resource was not found"
      }
     }
    }
   },
   "RateLimitError": {
    "description": "Too Many Requests - Rate limit exceeded",
    "headers": {
     "X-RateLimit-Limit": {
      "schema": {
       "type": "integer"
      },
      "description": "Maximum requests per minute"
     },
     "X-RateLimit-Remaining": {
      "schema": {
       "type": "integer"
      },
      "description": "Requests remaining"
     },
     "X-RateLimit-Reset": {
      "schema": {
       "type": "integer"
      },
      "description": "Unix timestamp of reset"
     },
     "Retry-After": {
      "schema": {
       "type": "integer"
      },
      "description": "Seconds until retry allowed"
     }
    },
    "content": {
     "application/json": {
      "schema": {
       "$ref": "#/components/schemas/Error"
      },
      "example": {
       "error": "Rate Limit Exceeded",
       "message": "Too many requests. Please wait before retrying.",
       "details": {
        "retry_after": 45
       }
      }
     }
    }
   }
  },
  "requestBodies": {
   "PatchSigningRequestBody": {
    "required": true,
    "content": {
     "application/json": {
      "schema": {
       "$ref": "#/components/schemas/PatchSigningRequestBodySchema"
      },
      "examples": {
       "update-properties": {
        "summary": "Update properties",
        "value": {
         "name": "Updated Contract Name",
         "expiration_hours": 72
        }
       },
       "update-recipient": {
        "summary": "Update single recipient",
        "value": {
         "recipient": {
          "id": "rec123-e89b-12d3-a456-426614174000",
          "first_name": "John",
          "last_name": "Smith",
          "email": "john.smith@example.com",
          "designation": "Signer",
          "order": 1
         }
        }
       },
       "add-recipient": {
        "summary": "Add new recipient",
        "value": {
         "recipient": {
          "first_name": "Jane",
          "last_name": "Doe",
          "email": "jane@example.com",
          "designation": "Signer",
          "order": 2
         }
        }
       },
       "add-date-field": {
        "summary": "Add date field with formatting",
        "value": {
         "field": {
          "type": "date",
          "position": {
           "x": 70,
           "y": 45,
           "width": 15,
           "height": 3
          },
          "page_number": 1,
          "required": true,
          "recipient_id": "rec123-e89b-12d3-a456-426614174000",
          "date_signing_default": true,
          "format_rules": {
           "dateFormat": "MMMM dd, yyyy"
          }
         }
        }
       },
       "add-read-only-static-field": {
        "summary": "Add read-only field with static value",
        "description": "Creates a text field that displays a fixed value the signer cannot edit",
        "value": {
         "field": {
          "type": "text",
          "position": {
           "x": 15,
           "y": 20,
           "width": 40,
           "height": 3
          },
          "page_number": 1,
          "required": false,
          "recipient_id": "rec123-e89b-12d3-a456-426614174000",
          "read_only": true,
          "read_only_value": "Contract #12345 - Acme Corporation"
         }
        }
       },
       "add-read-only-prefilled-field": {
        "summary": "Add read-only field with recipient data",
        "description": "Creates a text field that auto-populates with the recipient's email address (signer cannot edit)",
        "value": {
         "field": {
          "type": "text",
          "position": {
           "x": 15,
           "y": 30,
           "width": 30,
           "height": 3
          },
          "page_number": 1,
          "required": false,
          "recipient_id": "rec123-e89b-12d3-a456-426614174000",
          "read_only": true,
          "prefilled_data": "email"
         }
        }
       }
      }
     }
    }
   },
   "UpdateSigningRequestBody": {
    "required": true,
    "content": {
     "application/json": {
      "schema": {
       "$ref": "#/components/schemas/UpdateSigningRequestBodySchema"
      },
      "examples": {
       "comprehensive-update": {
        "summary": "Comprehensive update with all sections",
        "value": {
         "signing_request_properties": {
          "name": "Updated Contract Name",
          "expiration_hours": 72
         },
         "recipients": [
          {
           "id": "rec1-e89b-12d3-a456-426614174000",
           "first_name": "John",
           "last_name": "Smith",
           "email": "john.smith@example.com",
           "designation": "Signer",
           "order": 1
          },
          {
           "first_name": "Jane",
           "last_name": "Doe",
           "email": "jane@example.com",
           "designation": "Signer",
           "order": 2
          }
         ],
         "deleted_recipients": [
          {
           "recipient_id": "rec2-e89b-12d3-a456-426614174000",
           "field_action": "reassign",
           "reassign_to_recipient_id": "rec1-e89b-12d3-a456-426614174000"
          }
         ],
         "fields": [
          {
           "id": "field1-e89b-12d3-a456-426614174000",
           "type": "signature",
           "position": {
            "x": 15,
            "y": 85,
            "width": 30,
            "height": 10
           },
           "page_number": 1,
           "required": true,
           "recipient_id": "rec1-e89b-12d3-a456-426614174000"
          }
         ],
         "reminders": [
          {
           "hours": 48,
           "all_users": true,
           "subject": "Reminder: Please sign the document",
           "message": "This is a reminder to complete your signature."
          }
         ]
        }
       },
       "update-with-temp-ids": {
        "summary": "Update with new recipients using temporary IDs",
        "description": "Comprehensive update adding new recipients with temporary IDs alongside existing recipients",
        "value": {
         "signing_request_properties": {
          "name": "Updated NDA Agreement"
         },
         "recipients": [
          {
           "id": "existing-recipient-uuid",
           "email": "updated@example.com"
          },
          {
           "_temp_id": "temp_new_signer",
           "first_name": "New",
           "last_name": "Signer",
           "email": "newsigner@example.com",
           "designation": "Signer",
           "order": 2
          }
         ],
         "fields": [
          {
           "id": "existing-field-uuid",
           "position": {
            "x": 10,
            "y": 70,
            "width": 30,
            "height": 10
           }
          },
          {
           "recipient_id": "temp_new_signer",
           "type": "signature",
           "page_number": 1,
           "position": {
            "x": 10,
            "y": 55,
            "width": 30,
            "height": 10
           },
           "required": true
          }
         ],
         "reminders": [
          {
           "recipient_id": "temp_new_signer",
           "hours": 24,
           "all_users": false,
           "subject": "Reminder: Sign Document",
           "message": "Please sign the updated NDA."
          }
         ]
        }
       }
      }
     }
    }
   }
  },
  "schemas": {
   "Company": {
    "type": "object",
    "properties": {
     "id": {
      "type": "string",
      "format": "uuid",
      "description": "Unique identifier for the company"
     },
     "name": {
      "type": "string",
      "description": "Company name",
      "maxLength": 255
     },
     "language": {
      "type": "string",
      "description": "Default language for the company",
      "enum": [
       "en",
       "es",
       "it",
       "pt",
       "fr",
       "de",
       "el",
       "ru",
       "pl",
       "cs",
       "sv",
       "nl",
       "ro",
       "nb",
       "ca"
      ],
      "default": "en"
     },
     "account_owner": {
      "type": "string",
      "description": "Name of the account owner",
      "maxLength": 255
     },
     "account_owner_email": {
      "type": "string",
      "format": "email",
      "description": "Email address of the account owner"
     },
     "website": {
      "type": "string",
      "format": "uri",
      "description": "Company website URL",
      "nullable": true
     },
     "icon_url": {
      "type": "string",
      "format": "uri",
      "description": "Publicly accessible URL to the company logo image. Returns null if no logo is set.",
      "nullable": true,
      "example": "https://ielmshcswdhuacyjlpiy.supabase.co/functions/v1/logo/company/3feb35a8-5aaf-4603-8b50-acd807176b38"
     },
     "credits": {
      "type": "integer",
      "description": "Available credits for the company (read-only, managed internally)",
      "minimum": 0,
      "readOnly": true
     },
     "created_date": {
      "type": "string",
      "format": "date-time",
      "description": "Company account creation timestamp"
     },
     "updated_date": {
      "type": "string",
      "format": "date-time",
      "description": "Company account last update timestamp"
     }
    },
    "required": [
     "id",
     "name",
     "account_owner",
     "account_owner_email",
     "created_date"
    ]
   },
   "Workspace": {
    "type": "object",
    "properties": {
     "id": {
      "type": "string",
      "format": "uuid",
      "description": "Unique identifier for the workspace"
     },
     "name": {
      "type": "string",
      "description": "Workspace name",
      "maxLength": 255
     },
     "protected": {
      "type": "boolean",
      "description": "Protected workspaces cannot be deleted"
     },
     "api_key": {
      "type": "string",
      "description": "Live-mode API key for this workspace. Used for authenticating API requests scoped to this workspace.",
      "nullable": true
     },
     "test_api_key": {
      "type": "string",
      "description": "Test-mode API key for this workspace. Requests authenticated with this key do not consume credits and produce test-flagged, watermarked signing requests.",
      "nullable": true
     },
     "created_date": {
      "type": "string",
      "format": "date-time",
      "description": "Workspace creation timestamp"
     },
     "updated_date": {
      "type": "string",
      "format": "date-time",
      "description": "Workspace last update timestamp"
     },
     "webhook_enabled": {
      "type": "boolean",
      "description": "Whether workspace-level webhooks are enabled"
     },
     "webhook_secret": {
      "type": "string",
      "description": "Webhook signing secret for this workspace",
      "nullable": true
     },
     "webhook_secret_rotated_at": {
      "type": "string",
      "format": "date-time",
      "description": "Timestamp of the last webhook secret rotation",
      "nullable": true
     },
     "webhook_secret_created_at": {
      "type": "string",
      "format": "date-time",
      "description": "Timestamp when the webhook secret was first created",
      "nullable": true
     },
     "ignore_company_webhooks": {
      "type": "boolean",
      "description": "When true, company-level webhooks do not fire for events in this workspace"
     },
     "icon_url": {
      "type": "string",
      "format": "uri",
      "description": "Publicly accessible URL to the workspace logo image. Returns the workspace-specific logo, or null if not set (company logo is NOT included as fallback in this field).",
      "nullable": true,
      "example": "https://ielmshcswdhuacyjlpiy.supabase.co/functions/v1/logo/workspace/company-id/workspace-id"
     }
    },
    "required": [
     "id",
     "name",
     "created_date"
    ]
   },
   "Template": {
    "type": "object",
    "properties": {
     "id": {
      "type": "string",
      "format": "uuid",
      "description": "Unique identifier for the template"
     },
     "name": {
      "type": "string",
      "description": "Template name",
      "maxLength": 255
     },
     "description": {
      "type": "string",
      "description": "Template description",
      "nullable": true
     },
     "document_url": {
      "type": "string",
      "format": "uri",
      "description": "Pre-signed URL to the PDF document. This is a time-limited signed URL for secure access - see document_url_expires_at for expiration time. Initial URLs are valid for 7 days; refreshed URLs are valid for 1 hour. Request a new template retrieval to get a fresh URL if expired."
     },
     "document_url_expires_at": {
      "type": "string",
      "format": "date-time",
      "nullable": true,
      "description": "ISO 8601 timestamp when the document_url will expire. After this time, the URL will return an access denied error. Fetch the template again to receive a fresh signed URL."
     },
     "page_count": {
      "type": "integer",
      "minimum": 1,
      "description": "Number of pages in the document"
     },
     "expiration_hours": {
      "type": "integer",
      "minimum": 1,
      "default": 168,
      "description": "Hours until signing requests created from this template expire"
     },
     "credit_cost": {
      "type": "integer",
      "minimum": 1,
      "default": 1,
      "description": "Number of credits consumed when a signing request is sent from this template. Minimum value is 1."
     },
     "settings": {
      "$ref": "#/components/schemas/SigningRequestSettings"
     },
     "recipients": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/TemplateUser"
      },
      "description": "Template recipients (included in GET single template)"
     },
     "fields": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/TemplateField"
      },
      "description": "Template fields (included in GET single template)"
     },
     "created_date": {
      "type": "string",
      "format": "date-time",
      "description": "Template creation timestamp"
     },
     "updated_date": {
      "type": "string",
      "format": "date-time",
      "description": "Template last update timestamp"
     }
    },
    "required": [
     "id",
     "name",
     "created_date"
    ]
   },
   "TemplateUser": {
    "type": "object",
    "properties": {
     "id": {
      "type": "string",
      "format": "uuid",
      "description": "Unique identifier for the template user"
     },
     "name": {
      "type": "string",
      "description": "Recipient name (combined first and last name)"
     },
     "email": {
      "type": "string",
      "format": "email",
      "description": "Recipient email address"
     },
     "first_name": {
      "type": "string",
      "nullable": true,
      "description": "Recipient first name"
     },
     "last_name": {
      "type": "string",
      "nullable": true,
      "description": "Recipient last name"
     },
     "designation": {
      "type": "string",
      "enum": [
       "Signer",
       "Approver",
       "CC"
      ],
      "description": "Role of the recipient. Signer signs the document, Approver approves with approval fields, CC receives a copy when complete."
     },
     "order": {
      "type": "integer",
      "minimum": 1,
      "description": "Order in which the recipient should sign"
     },
     "phone_number": {
      "type": "string",
      "nullable": true,
      "description": "Recipient phone number"
     },
     "street_address": {
      "type": "string",
      "nullable": true,
      "description": "Recipient street address"
     },
     "city": {
      "type": "string",
      "nullable": true,
      "description": "Recipient city"
     },
     "state_province": {
      "type": "string",
      "nullable": true,
      "description": "Recipient state or province"
     },
     "postal_code": {
      "type": "string",
      "nullable": true,
      "description": "Recipient postal code"
     },
     "country": {
      "type": "string",
      "nullable": true,
      "description": "Recipient country"
     },
     "title": {
      "type": "string",
      "nullable": true,
      "description": "Recipient job title"
     },
     "company": {
      "type": "string",
      "nullable": true,
      "description": "Recipient company name"
     },
     "required_fields": {
      "type": "array",
      "items": {
       "type": "string"
      },
      "description": "List of recipient data fields required for sending (based on template fields with variable_name mappings). Always includes 'email' and 'first_name'."
     },
     "missing_fields": {
      "type": "array",
      "items": {
       "type": "string"
      },
      "description": "List of required fields that are currently empty for this recipient"
     },
     "required_read_only_fields": {
      "type": "array",
      "items": {
       "type": "object",
       "properties": {
        "variable_name": {
         "type": "string",
         "nullable": true,
         "description": "Variable name of the read-only field"
        },
        "variable_defined_name": {
         "type": "string",
         "nullable": true,
         "description": "Human-readable field name from the custom field definition (e.g. 'artist_name'). Only present for fields linked to a custom field definition, null otherwise."
        },
        "field_type": {
         "type": "string",
         "description": "Type of the field (text, date, etc.)"
        }
       }
      },
      "description": "List of required read-only fields that need pre-filled values before sending"
     },
     "ready_to_send": {
      "type": "boolean",
      "description": "Whether this recipient has all required data filled in for sending"
     }
    },
    "required": [
     "id",
     "first_name",
     "email",
     "designation",
     "order"
    ]
   },
   "DateFormatRules": {
    "type": "object",
    "description": "Formatting rules for date fields. Specifies how date values should be displayed and formatted.",
    "properties": {
     "dateFormat": {
      "type": "string",
      "description": "Date format pattern. Use predefined formats or custom patterns with: yyyy (4-digit year), MM (2-digit month), dd (2-digit day), MMMM (full month name), MMM (abbreviated month name), HH (24-hour), mm (minute), ss (second). Examples: 'MM/dd/yyyy' displays as 01/31/2024, 'MMMM dd, yyyy' displays as January 31, 2024.",
      "enum": [
       "MM/dd/yyyy",
       "dd/MM/yyyy",
       "yyyy-MM-dd",
       "MMMM dd, yyyy",
       "MMM dd, yyyy",
       "dd MMMM yyyy"
      ],
      "default": "MM/dd/yyyy"
     },
     "fontSize": {
      "type": "integer",
      "minimum": 8,
      "maximum": 48,
      "description": "Optional starting/maximum font size in pixels for the rendered field value. Text still auto-shrinks to fit the field box. Omit for automatic sizing. Values outside 8-48 are clamped."
     }
    },
    "example": {
     "dateFormat": "MMMM dd, yyyy"
    }
   },
   "TextFormatRules": {
    "type": "object",
    "description": "Formatting rules for text-bearing fields (text, textarea, email, name, phone, company, title, number, dropdown, url).",
    "properties": {
     "fontSize": {
      "type": "integer",
      "minimum": 8,
      "maximum": 48,
      "description": "Optional starting/maximum font size in pixels for the rendered field value, applied in the signing view and the sealed PDF. Text still auto-shrinks to fit the field box, so the explicit size is a ceiling, not a guarantee. Omit for automatic sizing (default 14px base). Values outside 8-48 are clamped; non-numeric values are ignored. Not applicable to signature, initials, checkbox, radio, file, or stamp fields."
     }
    },
    "example": {
     "fontSize": 12
    }
   },
   "FileFormatRules": {
    "type": "object",
    "description": "Formatting rules for file upload fields. Specifies which file types signers are allowed to upload.",
    "properties": {
     "acceptedFileTypes": {
      "type": "string",
      "enum": [
       "image_and_pdf",
       "image",
       "pdf"
      ],
      "default": "image_and_pdf",
      "description": "Accepted file types for upload. 'image_and_pdf' accepts JPG, PNG, and PDF. 'image' accepts JPG and PNG only. 'pdf' accepts PDF only. Files are validated by magic bytes, not just extension. Maximum file size is 10MB."
     }
    },
    "example": {
     "acceptedFileTypes": "image_and_pdf"
    }
   },
   "FieldValidationRules": {
    "type": "object",
    "nullable": true,
    "description": "Validation rules for field values. Reserved for future use - currently not enforced for any field types.",
    "additionalProperties": true
   },
   "TemplateField": {
    "type": "object",
    "description": "A field placed on a template document",
    "properties": {
     "id": {
      "type": "string",
      "format": "uuid",
      "description": "Unique identifier for the field"
     },
     "type": {
      "type": "string",
      "enum": [
       "text",
       "signature",
       "date",
       "checkbox",
       "dropdown",
       "radio_buttons",
       "number",
       "text_area",
       "file",
       "initial",
       "stamp",
       "approval_signature",
       "approval_checkmark",
       "approval_date"
      ],
      "description": "Type of the field"
     },
     "required": {
      "type": "boolean",
      "description": "Whether the field is required"
     },
     "recipient_id": {
      "type": "string",
      "format": "uuid",
      "nullable": true,
      "description": "ID of assigned recipient"
     },
     "variable_name": {
      "type": "string",
      "nullable": true,
      "description": "Variable name for field (used in templates)"
     },
     "variable_defined_name": {
      "type": "string",
      "nullable": true,
      "description": "Human-readable field name from the custom field definition (e.g. 'artist_name'). Only present for fields linked to a custom field definition, null otherwise."
     },
     "position": {
      "type": "object",
      "description": "Position and dimensions of the field on the document. All values are percentages (0-100). The field must fit within the page: x + width <= 100 and y + height <= 100.",
      "properties": {
       "x": {
        "type": "number",
        "minimum": 0,
        "maximum": 100,
        "description": "X coordinate of field position (percentage, 0-100)"
       },
       "y": {
        "type": "number",
        "minimum": 0,
        "maximum": 100,
        "description": "Y coordinate of field position (percentage, 0-100)"
       },
       "width": {
        "type": "number",
        "minimum": 0,
        "maximum": 100,
        "description": "Width of the field (percentage, 0-100). Note: x + width must be <= 100"
       },
       "height": {
        "type": "number",
        "minimum": 0,
        "maximum": 100,
        "description": "Height of the field (percentage, 0-100). Note: y + height must be <= 100"
       }
      }
     },
     "page_number": {
      "type": "integer",
      "minimum": 1,
      "nullable": true,
      "description": "Page number where the field is located (1-indexed). Must not exceed the document's total page count."
     },
     "dropdown_options": {
      "nullable": true,
      "description": "Options for dropdown fields",
      "oneOf": [
       {
        "type": "array",
        "items": {
         "type": "string"
        }
       },
       {
        "type": "object"
       }
      ]
     },
     "multi_group_id": {
      "type": "string",
      "format": "uuid",
      "nullable": true,
      "description": "Group ID for linking multiple checkbox or radio button fields together. Fields sharing the same multi_group_id behave as a mutually exclusive group (like radio buttons) - selecting one automatically deselects the others in the group. Use the same UUID across multiple fields to create a group where only one option can be selected at a time."
     },
     "date_default": {
      "type": "string",
      "format": "date",
      "nullable": true,
      "description": "Default date value for date fields (ISO 8601 format, e.g., '2024-01-15')"
     },
     "date_signing_default": {
      "type": "boolean",
      "description": "Use signing date as default for date fields"
     },
     "format_rules": {
      "$ref": "#/components/schemas/DateFormatRules",
      "nullable": true,
      "description": "Formatting rules - currently used for date fields to specify display format"
     },
     "validation_rules": {
      "$ref": "#/components/schemas/FieldValidationRules"
     },
     "read_only": {
      "type": "boolean",
      "default": false,
      "description": "Whether this field is read-only (pre-filled before signing)"
     },
     "read_only_value": {
      "type": "string",
      "nullable": true,
      "description": "Static value for read-only fields"
     }
    },
    "required": [
     "id",
     "type",
     "page_number"
    ]
   },
   "Reminder": {
    "type": "object",
    "properties": {
     "id": {
      "type": "string",
      "format": "uuid",
      "description": "Unique identifier for the reminder"
     },
     "hours": {
      "type": "integer",
      "minimum": 1,
      "description": "Hours after sending before reminder is sent"
     },
     "subject": {
      "type": "string",
      "description": "Email subject for the reminder",
      "maxLength": 255
     },
     "message": {
      "type": "string",
      "description": "Email message body for the reminder",
      "maxLength": 5000
     },
     "all_users": {
      "type": "boolean",
      "description": "Whether reminder applies to all users"
     },
     "template_user_id": {
      "type": "string",
      "format": "uuid",
      "nullable": true,
      "description": "Specific user to send reminder to (used in template context)"
     },
     "recipient_id": {
      "type": "string",
      "format": "uuid",
      "nullable": true,
      "description": "Specific recipient to send reminder to (used in signing request context, same as template_user_id)"
     },
     "sent_on": {
      "type": "string",
      "format": "date-time",
      "nullable": true,
      "description": "Timestamp when the reminder was actually sent"
     },
     "created_at": {
      "type": "string",
      "format": "date-time",
      "description": "Reminder creation timestamp"
     },
     "updated_at": {
      "type": "string",
      "format": "date-time",
      "description": "Reminder last update timestamp"
     }
    },
    "required": [
     "id",
     "hours",
     "subject",
     "message"
    ]
   },
   "SigningRequestListItem": {
    "type": "object",
    "description": "Signing request as returned by the LIST endpoint (GET /signing-requests)",
    "properties": {
     "id": {
      "type": "string",
      "format": "uuid",
      "description": "Unique identifier for the signing request"
     },
     "name": {
      "type": "string",
      "description": "Signing request name",
      "maxLength": 255
     },
     "description": {
      "type": "string",
      "nullable": true,
      "description": "Signing request description"
     },
     "status": {
      "type": "string",
      "enum": [
       "not_sent",
       "in_progress",
       "finished",
       "cancelled",
       "declined",
       "deleted",
       "expired"
      ],
      "description": "Current status of the signing request"
     },
     "document_url": {
      "type": "string",
      "format": "uri",
      "description": "Pre-signed URL to the PDF document. This is a time-limited signed URL for secure access - see document_url_expires_at for expiration time. Initial URLs are valid for 7 days; refreshed URLs are valid for 1 hour. Request a new signing request retrieval to get a fresh URL if expired."
     },
     "document_url_expires_at": {
      "type": "string",
      "format": "date-time",
      "nullable": true,
      "description": "ISO 8601 timestamp when the document_url will expire. After this time, the URL will return an access denied error. Fetch the signing request again to receive a fresh signed URL."
     },
     "page_count": {
      "type": "integer",
      "minimum": 1,
      "description": "Number of pages in the document"
     },
     "expiration_hours": {
      "type": "integer",
      "minimum": 1,
      "default": 168,
      "description": "Hours until signing request expires (default: 168 = 7 days)"
     },
     "expires_at": {
      "type": "string",
      "format": "date-time",
      "nullable": true,
      "description": "ISO 8601 timestamp when the signing request expires. Computed from sent_date + expiration_hours. Null if the signing request has not been sent yet or has no expiration_hours set."
     },
     "credit_cost": {
      "type": "integer",
      "minimum": 1,
      "default": 1,
      "description": "Number of credits consumed when this signing request was sent. Minimum value is 1."
     },
     "template_id": {
      "type": "string",
      "format": "uuid",
      "nullable": true,
      "description": "Template ID if created from a template"
     },
     "settings": {
      "$ref": "#/components/schemas/SigningRequestSettings"
     },
     "created_date": {
      "type": "string",
      "format": "date-time",
      "description": "Creation timestamp"
     },
     "updated_date": {
      "type": "string",
      "format": "date-time",
      "description": "Last update timestamp"
     },
     "sent_date": {
      "type": "string",
      "format": "date-time",
      "nullable": true,
      "description": "When the signing request was sent"
     },
     "finished_date": {
      "type": "string",
      "format": "date-time",
      "nullable": true,
      "description": "When all signatures were completed"
     },
     "cancelled_date": {
      "type": "string",
      "format": "date-time",
      "nullable": true,
      "description": "When the signing request was cancelled"
     },
     "declined_date": {
      "type": "string",
      "format": "date-time",
      "nullable": true,
      "description": "When the signing request was declined"
     },
     "recipients": {
      "type": "array",
      "description": "Signing request recipients (simplified shape)",
      "items": {
       "$ref": "#/components/schemas/SigningRequestListRecipient"
      }
     },
     "fields": {
      "type": "array",
      "description": "Signing request fields with nested position object",
      "items": {
       "type": "object",
       "properties": {
        "id": {
         "type": "string",
         "format": "uuid"
        },
        "type": {
         "type": "string",
         "enum": [
          "text",
          "signature",
          "date",
          "checkbox",
          "dropdown",
          "radio_buttons",
          "number",
          "text_area",
          "file",
          "initial",
          "stamp",
          "approval_signature",
          "approval_checkmark",
          "approval_date"
         ]
        },
        "required": {
         "type": "boolean"
        },
        "recipient_id": {
         "type": "string",
         "format": "uuid",
         "nullable": true
        },
        "variable_name": {
         "type": "string",
         "nullable": true
        },
        "variable_defined_name": {
         "type": "string",
         "nullable": true,
         "description": "Human-readable field name from the custom field definition (e.g. 'artist_name'). Only present for fields linked to a custom field definition, null otherwise."
        },
        "position": {
         "type": "object",
         "properties": {
          "x": {
           "type": "number"
          },
          "y": {
           "type": "number"
          },
          "width": {
           "type": "number"
          },
          "height": {
           "type": "number"
          }
         }
        },
        "value": {
         "type": "string",
         "nullable": true,
         "description": "Final value of the field after signing"
        },
        "dropdown_options": {
         "nullable": true,
         "oneOf": [
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          },
          {
           "type": "object"
          }
         ]
        },
        "format_rules": {
         "$ref": "#/components/schemas/DateFormatRules",
         "nullable": true
        },
        "validation_rules": {
         "$ref": "#/components/schemas/FieldValidationRules"
        }
       }
      }
     },
     "seal_participants": {
      "type": "array",
      "description": "Organization seal participants in the signing order. Empty when the request has no seals.",
      "items": {
       "$ref": "#/components/schemas/SealParticipant"
      }
     }
    },
    "required": [
     "id",
     "name",
     "status",
     "created_date"
    ]
   },
   "SigningRequestListRecipient": {
    "type": "object",
    "description": "Recipient as returned in LIST signing request responses (simplified shape)",
    "properties": {
     "id": {
      "type": "string",
      "format": "uuid",
      "description": "Unique identifier for the recipient"
     },
     "name": {
      "type": "string",
      "description": "Combined full name"
     },
     "email": {
      "type": "string",
      "format": "email",
      "description": "Recipient email address"
     },
     "designation": {
      "type": "string",
      "enum": [
       "Signer",
       "Approver",
       "CC"
      ],
      "description": "Role of the recipient. Signer signs the document, Approver approves with approval fields, CC receives a copy when complete."
     },
     "order": {
      "type": "integer",
      "minimum": 1,
      "description": "Signing order"
     },
     "finished_date": {
      "type": "string",
      "format": "date-time",
      "nullable": true,
      "description": "When this recipient completed signing"
     },
     "signature_details": {
      "type": "object",
      "nullable": true,
      "description": "Details about the recipient's signature"
     }
    }
   },
   "SigningRequestCreateResponse": {
    "type": "object",
    "description": "Signing request as returned by CREATE endpoints (POST /signing-requests)",
    "properties": {
     "id": {
      "type": "string",
      "format": "uuid",
      "description": "Unique identifier for the signing request"
     },
     "name": {
      "type": "string",
      "description": "Signing request name",
      "maxLength": 255
     },
     "description": {
      "type": "string",
      "nullable": true,
      "description": "Signing request description"
     },
     "status": {
      "type": "string",
      "enum": [
       "draft"
      ],
      "description": "Status is always 'draft' for newly created signing requests"
     },
     "document_url": {
      "type": "string",
      "format": "uri",
      "description": "Pre-signed URL to the PDF document"
     },
     "page_count": {
      "type": "integer",
      "minimum": 1,
      "description": "Number of pages in the document"
     },
     "expiration_hours": {
      "type": "integer",
      "minimum": 1,
      "default": 168,
      "description": "Hours until signing request expires (default: 168 = 7 days)"
     },
     "template_id": {
      "type": "string",
      "format": "uuid",
      "nullable": true,
      "description": "Template ID if created from a template"
     },
     "settings": {
      "$ref": "#/components/schemas/SigningRequestSettings"
     },
     "created_date": {
      "type": "string",
      "format": "date-time",
      "description": "Creation timestamp"
     },
     "updated_date": {
      "type": "string",
      "format": "date-time",
      "description": "Last update timestamp"
     },
     "sent_date": {
      "type": "string",
      "format": "date-time",
      "nullable": true,
      "description": "When the signing request was sent"
     },
     "finished_date": {
      "type": "string",
      "format": "date-time",
      "nullable": true,
      "description": "When all signatures were completed"
     },
     "cancelled_date": {
      "type": "string",
      "format": "date-time",
      "nullable": true,
      "description": "When the signing request was cancelled"
     },
     "recipients": {
      "type": "array",
      "description": "Signing request recipients",
      "items": {
       "$ref": "#/components/schemas/SigningRequestCreateRecipient"
      }
     },
     "fields": {
      "type": "array",
      "description": "Signing request fields with flat position values",
      "items": {
       "$ref": "#/components/schemas/SigningRequestCreateField"
      }
     },
     "warnings": {
      "type": "array",
      "items": {
       "type": "string"
      },
      "description": "Optional non-blocking warnings, including unusual recipient email formats, unknown anchor-tag properties during the compatibility window, and anchor-processing warnings."
     },
     "seal_participants": {
      "type": "array",
      "description": "Organization seal participants in the signing order. Empty when the request has no seals.",
      "items": {
       "$ref": "#/components/schemas/SealParticipant"
      }
     }
    },
    "required": [
     "id",
     "name",
     "status"
    ]
   },
   "SigningRequestCreateRecipient": {
    "type": "object",
    "description": "Recipient as returned in CREATE signing request responses",
    "properties": {
     "id": {
      "type": "string",
      "format": "uuid",
      "description": "Unique identifier for the recipient"
     },
     "first_name": {
      "type": "string",
      "nullable": true,
      "description": "Recipient first name"
     },
     "last_name": {
      "type": "string",
      "nullable": true,
      "description": "Recipient last name"
     },
     "name": {
      "type": "string",
      "nullable": true,
      "description": "Combined full name (auto-constructed from first_name + last_name)"
     },
     "email": {
      "type": "string",
      "format": "email",
      "description": "Recipient email address"
     },
     "designation": {
      "type": "string",
      "enum": [
       "Signer",
       "Approver",
       "CC"
      ],
      "description": "Role of the recipient. Signer signs the document, Approver approves with approval fields, CC receives a copy when complete."
     },
     "order": {
      "type": "integer",
      "minimum": 1,
      "description": "Signing order"
     },
     "phone_number": {
      "type": "string",
      "nullable": true,
      "description": "Recipient phone number"
     },
     "street_address": {
      "type": "string",
      "nullable": true,
      "description": "Street address"
     },
     "city": {
      "type": "string",
      "nullable": true,
      "description": "City"
     },
     "state_province": {
      "type": "string",
      "nullable": true,
      "description": "State or province"
     },
     "postal_code": {
      "type": "string",
      "nullable": true,
      "description": "Postal code"
     },
     "country": {
      "type": "string",
      "nullable": true,
      "description": "Country"
     },
     "title": {
      "type": "string",
      "nullable": true,
      "description": "Job title"
     },
     "company": {
      "type": "string",
      "nullable": true,
      "description": "Company name"
     },
     "custom_fields": {
      "type": "object",
      "nullable": true,
      "description": "Custom key-value pairs"
     },
     "finished_date": {
      "type": "string",
      "format": "date-time",
      "nullable": true,
      "description": "When this recipient completed signing"
     }
    },
    "required": [
     "first_name",
     "email",
     "designation"
    ]
   },
   "SigningRequestCreateField": {
    "type": "object",
    "description": "Field as returned in CREATE signing request responses (flat position, database-style)",
    "properties": {
     "id": {
      "type": "string",
      "format": "uuid",
      "description": "Unique identifier for the field"
     },
     "type": {
      "type": "string",
      "enum": [
       "text",
       "signature",
       "date",
       "checkbox",
       "dropdown",
       "radio_buttons",
       "number",
       "text_area",
       "file",
       "initial",
       "stamp",
       "approval_signature",
       "approval_checkmark",
       "approval_date"
      ],
      "description": "Type of the field"
     },
     "recipient_id": {
      "type": "string",
      "format": "uuid",
      "nullable": true,
      "description": "ID of assigned recipient"
     },
     "page_number": {
      "type": "integer",
      "minimum": 1,
      "description": "Page number (1-indexed)"
     },
     "x_position": {
      "type": "number",
      "description": "X coordinate as percentage (0-100)"
     },
     "y_position": {
      "type": "number",
      "description": "Y coordinate as percentage (0-100)"
     },
     "width": {
      "type": "number",
      "description": "Width as percentage (0-100)"
     },
     "height": {
      "type": "number",
      "description": "Height as percentage (0-100)"
     },
     "required": {
      "type": "boolean",
      "description": "Whether the field is required"
     },
     "read_only": {
      "type": "boolean",
      "description": "Whether this field is read-only"
     },
     "read_only_value": {
      "type": "string",
      "nullable": true,
      "description": "Static value for read-only fields"
     },
     "variable_name": {
      "type": "string",
      "nullable": true,
      "description": "Variable name for prefilled data mapping"
     },
     "variable_defined_name": {
      "type": "string",
      "nullable": true,
      "description": "Human-readable field name from the custom field definition (e.g. 'artist_name'). Only present for fields linked to a custom field definition, null otherwise."
     },
     "dropdown_options": {
      "nullable": true,
      "description": "Options for dropdown fields",
      "oneOf": [
       {
        "type": "array",
        "items": {
         "type": "string"
        }
       },
       {
        "type": "object"
       }
      ]
     },
     "format_rules": {
      "type": "object",
      "nullable": true,
      "description": "Formatting rules (e.g., date format)"
     },
     "validation_rules": {
      "type": "object",
      "nullable": true,
      "description": "Validation rules for the field"
     },
     "date_signing_default": {
      "type": "boolean",
      "description": "Whether to use signing date as default"
     },
     "final_value": {
      "type": "string",
      "nullable": true,
      "description": "Pre-filled or final value of the field"
     }
    },
    "required": [
     "type",
     "recipient_id",
     "page_number"
    ]
   },
   "SigningRequestDetail": {
    "type": "object",
    "description": "Detailed signing request as returned by GET /signing-requests/{id} (nested shape with status object and timestamps)",
    "properties": {
     "id": {
      "type": "string",
      "format": "uuid",
      "description": "Unique identifier for the signing request"
     },
     "name": {
      "type": "string",
      "description": "Signing request name"
     },
     "template_description": {
      "type": "string",
      "nullable": true,
      "description": "Description from the template"
     },
     "companies_workspaces_id": {
      "type": "string",
      "format": "uuid",
      "description": "Workspace ID this signing request belongs to"
     },
     "document_url": {
      "type": "string",
      "format": "uri",
      "description": "Pre-signed URL to the PDF document"
     },
     "document_url_expires_at": {
      "type": "string",
      "format": "date-time",
      "nullable": true
     },
     "document_page_count": {
      "type": "integer",
      "minimum": 1,
      "description": "Number of pages in the document"
     },
     "expiration_hours": {
      "type": "integer",
      "description": "Hours until signing request expires"
     },
     "expires_at": {
      "type": "string",
      "format": "date-time",
      "nullable": true,
      "description": "ISO 8601 timestamp when the signing request expires. Computed from sent_on + expiration_hours. Null if not sent yet or no expiration_hours set."
     },
     "credit_cost": {
      "type": "integer",
      "description": "Credits consumed when sent"
     },
     "status": {
      "type": "object",
      "description": "Status flags (multiple can be true for terminal states)",
      "properties": {
       "sent": {
        "type": "boolean"
       },
       "finished": {
        "type": "boolean"
       },
       "cancelled": {
        "type": "boolean"
       },
       "declined": {
        "type": "boolean"
       },
       "expired": {
        "type": "boolean"
       }
      }
     },
     "timestamps": {
      "type": "object",
      "description": "All relevant timestamps for the signing request lifecycle",
      "properties": {
       "created_on": {
        "type": "string",
        "format": "date-time"
       },
       "sent_on": {
        "type": "string",
        "format": "date-time",
        "nullable": true
       },
       "finished_on": {
        "type": "string",
        "format": "date-time",
        "nullable": true
       },
       "cancelled_on": {
        "type": "string",
        "format": "date-time",
        "nullable": true
       },
       "declined_on": {
        "type": "string",
        "format": "date-time",
        "nullable": true
       },
       "last_changed_on": {
        "type": "string",
        "format": "date-time"
       },
       "last_signing_action_on": {
        "type": "string",
        "format": "date-time",
        "nullable": true
       }
      }
     },
     "settings": {
      "$ref": "#/components/schemas/SigningRequestSettings"
     },
     "use_signing_order": {
      "type": "integer",
      "enum": [
       0,
       1
      ],
      "deprecated": true
     },
     "allow_download": {
      "type": "integer",
      "enum": [
       0,
       1
      ],
      "deprecated": true
     },
     "allow_editing_before_sending": {
      "type": "integer",
      "enum": [
       0,
       1
      ],
      "deprecated": true
     },
     "hand_drawn_only": {
      "type": "integer",
      "enum": [
       0,
       1
      ],
      "deprecated": true
     },
     "attach_pdf_on_finish": {
      "type": "integer",
      "enum": [
       0,
       1
      ],
      "deprecated": true
     },
     "certificate": {
      "type": "object",
      "nullable": true,
      "description": "Certificate generation status information",
      "properties": {
       "generated": {
        "type": "boolean",
        "description": "Whether the final certificate PDF has been generated"
       },
       "generated_on": {
        "type": "string",
        "format": "date-time",
        "nullable": true,
        "description": "Timestamp when certificate was generated"
       },
       "has_error": {
        "type": "boolean",
        "description": "Whether there was an error generating the certificate"
       }
      }
     },
     "final_document_download_url": {
      "type": "string",
      "format": "uri",
      "nullable": true,
      "description": "Signed URL to download the final signed document (PDF with certificate). URL expires after 1 hour."
     },
     "final_document_download_error": {
      "type": "string",
      "nullable": true,
      "enum": [
       "file_not_accessible",
       null
      ]
     },
     "document_only_download_url": {
      "type": "string",
      "format": "uri",
      "nullable": true,
      "description": "Signed URL to download the document-only PDF. URL expires after 1 hour."
     },
     "document_only_download_error": {
      "type": "string",
      "nullable": true,
      "enum": [
       "file_not_accessible",
       null
      ]
     },
     "certificate_only_download_url": {
      "type": "string",
      "format": "uri",
      "nullable": true,
      "description": "Signed URL to download the certificate-only PDF. URL expires after 1 hour."
     },
     "certificate_only_download_error": {
      "type": "string",
      "nullable": true,
      "enum": [
       "file_not_accessible",
       null
      ]
     },
     "seal_participants": {
      "type": "array",
      "description": "Organization seal participants in the signing order. Empty when the request has no seals.",
      "items": {
       "$ref": "#/components/schemas/SealParticipant"
      }
     }
    },
    "required": [
     "id",
     "name",
     "status",
     "companies_workspaces_id"
    ]
   },
   "SigningRequestSettings": {
    "type": "object",
    "description": "Settings returned by the signing request list and detail endpoints. Templates use the TemplateSettings schema (no identity fields).",
    "properties": {
     "allow_download": {
      "type": "boolean",
      "description": "Whether recipients can download the document",
      "default": true
     },
     "attach_pdf_on_finish": {
      "type": "boolean",
      "description": "Whether to attach PDF when signing is complete",
      "default": true
     },
     "allow_editing_before_sending": {
      "type": "boolean",
      "description": "Whether the signing request can be edited before sending",
      "default": false
     },
     "use_signing_order": {
      "type": "boolean",
      "description": "Whether signing order is enforced among recipients. When true, signers receive the document in sequence based on their order. When false, all signers receive the document simultaneously.",
      "default": true
     },
     "hand_drawn_only": {
      "type": "boolean",
      "description": "When enabled, signers can only hand-draw their signatures and cannot use typed/font-based signatures",
      "default": false
     },
     "send_signing_email": {
      "type": "boolean",
      "description": "Whether to send signing request notification emails to signers",
      "default": true
     },
     "send_finish_email": {
      "type": "boolean",
      "description": "Whether to send completion email when all signers finish",
      "default": true
     },
     "send_expiration_email": {
      "type": "boolean",
      "description": "Whether to send expiration notification email when request expires",
      "default": true
     },
     "send_cancellation_email": {
      "type": "boolean",
      "description": "Whether to send cancellation notification email when request is cancelled",
      "default": true
     },
     "require_otp_verification": {
      "type": "boolean",
      "nullable": true,
      "description": "Whether signers must verify their email with a one-time code before accessing the document. null = inherit from workspace/company setting.",
      "default": null
     },
     "disable_guided_navigation": {
      "type": "boolean",
      "nullable": true,
      "description": "Disable automatic scrolling to the next required field during signing. Inherits from workspace or company if not set."
     },
     "allow_presigning_download": {
      "type": "boolean",
      "nullable": true,
      "description": "Allow signers to download the original document before signing. Inherits from workspace or company setting when null."
     },
     "show_qr_code": {
      "type": "boolean",
      "nullable": true,
      "description": "Show a QR code on the signing page that lets signers continue on their phone. Inherits from workspace or company setting when null."
     },
     "identity_editable_fields": {
      "type": "array",
      "nullable": true,
      "items": {
       "type": "string"
      },
      "description": "Identity fields signers may edit before signing (e.g. [\"name\", \"company\"]). null = disabled. When set, a confirmation dialog lets signers edit the specified fields."
     },
     "notify_identity_change_email": {
      "type": "boolean",
      "default": false,
      "description": "Send an email notification when a signer changes their identity."
     }
    }
   },
   "TemplateSettings": {
    "type": "object",
    "description": "Settings returned by the template endpoints. Matches SigningRequestSettings minus the signer-identity fields (identity_editable_fields, notify_identity_change_email), which apply only to signing requests.",
    "properties": {
     "allow_download": {
      "type": "boolean",
      "description": "Whether recipients can download the document",
      "default": true
     },
     "attach_pdf_on_finish": {
      "type": "boolean",
      "description": "Whether to attach PDF when signing is complete",
      "default": true
     },
     "allow_editing_before_sending": {
      "type": "boolean",
      "description": "Whether the signing request can be edited before sending",
      "default": false
     },
     "use_signing_order": {
      "type": "boolean",
      "description": "Whether signing order is enforced among recipients.",
      "default": true
     },
     "hand_drawn_only": {
      "type": "boolean",
      "description": "When enabled, signers can only hand-draw their signatures and cannot use typed/font-based signatures",
      "default": false
     },
     "send_signing_email": {
      "type": "boolean",
      "description": "Whether to send signing request notification emails to signers",
      "default": true
     },
     "send_finish_email": {
      "type": "boolean",
      "description": "Whether to send completion email when all signers finish",
      "default": true
     },
     "send_expiration_email": {
      "type": "boolean",
      "description": "Whether to send expiration notification email when request expires",
      "default": true
     },
     "send_cancellation_email": {
      "type": "boolean",
      "description": "Whether to send cancellation notification email when request is cancelled",
      "default": true
     },
     "require_otp_verification": {
      "type": "boolean",
      "nullable": true,
      "description": "Whether signers must verify their email with a one-time code before accessing the document. null = inherit from workspace/company setting.",
      "default": null
     },
     "disable_guided_navigation": {
      "type": "boolean",
      "nullable": true,
      "description": "Disable automatic scrolling to the next required field during signing. Inherits from workspace or company if not set."
     },
     "allow_presigning_download": {
      "type": "boolean",
      "nullable": true,
      "description": "Allow signers to download the original document before signing. Inherits from workspace or company setting when null."
     },
     "show_qr_code": {
      "type": "boolean",
      "nullable": true,
      "description": "Show a QR code on the signing page that lets signers continue on their phone. Inherits from workspace or company setting when null."
     }
    }
   },
   "LegacyDocumentSettings": {
    "type": "object",
    "description": "Settings returned by the deprecated POST /documents endpoint. A reduced set; new integrations should use the signing request endpoints, which return SigningRequestSettings.",
    "properties": {
     "allow_download": {
      "type": "boolean",
      "description": "Whether recipients can download the document",
      "default": true
     },
     "attach_pdf_on_finish": {
      "type": "boolean",
      "description": "Whether to attach PDF when signing is complete",
      "default": true
     },
     "allow_editing_before_sending": {
      "type": "boolean",
      "description": "Whether the signing request can be edited before sending",
      "default": false
     },
     "use_signing_order": {
      "type": "boolean",
      "description": "Whether signing order is enforced among recipients.",
      "default": true
     },
     "hand_drawn_only": {
      "type": "boolean",
      "description": "When enabled, signers can only hand-draw their signatures",
      "default": false
     },
     "send_signing_email": {
      "type": "boolean",
      "description": "Whether to send signing request notification emails to signers",
      "default": true
     },
     "send_finish_email": {
      "type": "boolean",
      "description": "Whether to send completion email when all signers finish",
      "default": true
     },
     "send_expiration_email": {
      "type": "boolean",
      "description": "Whether to send expiration notification email when request expires",
      "default": true
     },
     "send_cancellation_email": {
      "type": "boolean",
      "description": "Whether to send cancellation notification email when request is cancelled",
      "default": true
     },
     "disable_guided_navigation": {
      "type": "boolean",
      "nullable": true,
      "description": "Disable automatic scrolling to the next required field during signing. Inherits from workspace or company if not set."
     },
     "allow_presigning_download": {
      "type": "boolean",
      "nullable": true,
      "description": "Allow signers to download the original document before signing. Inherits from workspace or company setting when null."
     }
    }
   },
   "Recipient": {
    "type": "object",
    "required": [
     "first_name",
     "email",
     "designation"
    ],
    "description": "Recipient schema with auto-construction and mapping behaviors. **Name field**: Auto-constructed from first_name and last_name ('First Last' if both present, otherwise 'First'). Manual name values are overwritten. **Order assignment**: ALL recipients MUST have an explicit order value. Order determines the signing sequence, which is always enforced. Recipients must sign in order, with lower numbers signing first. **Custom fields**: Supports both flat structure (e.g., company_name at root) and nested structure (custom_fields object). Both formats are normalized internally. **Template field mapping**: When creating from a template with custom recipients, use template_user_id or order to match template users. Only user info (name, email, phone, etc.) can be updated - order and designation are inherited from template. A recipient with designation CC is never matched to a template user; it is added as a CC recipient, and the template's CC recipients are copied to the signing request, skipping any whose email (case-insensitive) is already on a CC recipient of the request. **Temporary IDs**: For document-based creation, use temporary IDs (format: 'temp_1', 'temp_2', etc.) to reference recipients in fields and reminders before they're created. **CC recipients**: CC recipients receive a completed copy but cannot sign or have fields assigned. At least one Signer is required. An existing recipient cannot be changed between CC and Signer/Approver (400); delete it and create it again.",
    "properties": {
     "id": {
      "type": "string",
      "description": "Unique identifier. For updates: use existing UUID. For document-based creation: optionally use temporary ID (format: 'temp_1', 'temp_2', etc.) to reference recipients in fields and reminders before creation. Temporary IDs are automatically resolved to real UUIDs in the response."
     },
     "_temp_id": {
      "type": "string",
      "description": "Temporary identifier for new recipients in PUT (comprehensive update) requests (e.g., 'temp_1'). Use this when creating new recipients alongside existing ones in comprehensive updates. Must start with 'temp_' and be unique within the request. Not used for POST (create) requests - use 'id' field instead."
     },
     "template_user_id": {
      "type": "string",
      "format": "uuid",
      "description": "When creating from a template, the ID of the template user to update. If provided, this recipient's data will update the matching template user. If not provided, falls back to matching by order. Only user info (name, email, phone, address, title, company) can be updated - order and designation are always inherited from the template. Not used for CC recipients, which are never matched to a template user."
     },
     "first_name": {
      "type": "string",
      "maxLength": 100,
      "description": "Recipient's first name"
     },
     "last_name": {
      "type": "string",
      "maxLength": 100,
      "description": "Recipient's last name (optional, but required if using full_name or last_name prefilled variables)"
     },
     "email": {
      "type": "string",
      "format": "email",
      "maxLength": 255,
      "description": "Recipient's email address"
     },
     "designation": {
      "type": "string",
      "enum": [
       "Signer",
       "Approver",
       "CC"
      ],
      "description": "Role of the recipient. Signer signs the document, Approver approves with approval fields, CC receives a copy when complete."
     },
     "order": {
      "type": "integer",
      "minimum": 1,
      "description": "Signing sequence number. Recipients must sign in order, with lower numbers signing first. This field is required for all recipients."
     },
     "phone_number": {
      "type": "string",
      "maxLength": 50,
      "nullable": true,
      "description": "Recipient's phone number"
     },
     "street_address": {
      "type": "string",
      "maxLength": 255,
      "nullable": true,
      "description": "Street address"
     },
     "city": {
      "type": "string",
      "maxLength": 100,
      "nullable": true,
      "description": "City"
     },
     "state_province": {
      "type": "string",
      "maxLength": 100,
      "nullable": true,
      "description": "State or province"
     },
     "postal_code": {
      "type": "string",
      "maxLength": 20,
      "nullable": true,
      "description": "Postal/ZIP code"
     },
     "country": {
      "type": "string",
      "maxLength": 100,
      "nullable": true,
      "description": "Country"
     },
     "title": {
      "type": "string",
      "maxLength": 100,
      "nullable": true,
      "description": "Job title"
     },
     "company": {
      "type": "string",
      "maxLength": 255,
      "nullable": true,
      "description": "Company name"
     },
     "custom_fields": {
      "type": "object",
      "additionalProperties": true,
      "description": "Custom key-value pairs for additional recipient data"
     }
    }
   },
   "Field": {
    "type": "object",
    "required": [
     "type",
     "position",
     "page_number"
    ],
    "description": "Field definition for signing requests. **Read-only fields**: Set read_only=true to pre-fill a field value that signers cannot edit. Use read_only_value for static text, or prefilled_data to auto-populate from recipient attributes. **Template-based field merging**: When creating from a template with fields array, use template_field_id (preferred) or variable_name (fallback) to match template fields. Only provided properties override template defaults (partial update). Fields not matched are ignored.",
    "properties": {
     "id": {
      "type": "string",
      "format": "uuid",
      "description": "Unique identifier (include for updates, omit for new fields)"
     },
     "template_field_id": {
      "type": "string",
      "format": "uuid",
      "description": "Template field ID to match for partial updates (template-based creation only). Use this to identify which template field to override. Takes precedence over variable_name for matching."
     },
     "type": {
      "type": "string",
      "enum": [
       "signature",
       "text",
       "date",
       "checkbox",
       "dropdown",
       "initial",
       "initials",
       "text_area",
       "textarea",
       "image",
       "stamp",
       "approval_signature",
       "approval_checkmark",
       "approval_date"
      ],
      "description": "Type of field. Accepts 'initial' or 'initials' (normalized to 'initial'), 'textarea' or 'text_area' (normalized to 'text_area')."
     },
     "position": {
      "type": "object",
      "required": [
       "x",
       "y",
       "width",
       "height"
      ],
      "description": "Field must fit within page bounds: x + width <= 100 and y + height <= 100",
      "properties": {
       "x": {
        "type": "number",
        "minimum": 0,
        "maximum": 100,
        "description": "X coordinate as percentage (0-100)"
       },
       "y": {
        "type": "number",
        "minimum": 0,
        "maximum": 100,
        "description": "Y coordinate as percentage (0-100)"
       },
       "width": {
        "type": "number",
        "minimum": 0,
        "maximum": 100,
        "description": "Width as percentage (0-100). x + width must be <= 100"
       },
       "height": {
        "type": "number",
        "minimum": 0,
        "maximum": 100,
        "description": "Height as percentage (0-100). y + height must be <= 100"
       }
      }
     },
     "page_number": {
      "type": "integer",
      "minimum": 1,
      "description": "Page number where field is located (1-indexed). Must not exceed the document's total page count."
     },
     "required": {
      "type": "boolean",
      "default": false,
      "description": "Whether field must be completed"
     },
     "recipient_id": {
      "type": "string",
      "description": "ID of recipient assigned to this field. Use real UUID for template-based creation or updates, or temporary ID (e.g., 'temp_1') for document-based creation to reference recipients defined in the same request."
     },
     "variable_name": {
      "type": "string",
      "maxLength": 100,
      "nullable": true,
      "description": "Variable name for field (used in templates). Also used as fallback for field matching in template-based creation when template_field_id is not provided."
     },
     "variable_defined_name": {
      "type": "string",
      "maxLength": 100,
      "nullable": true,
      "description": "Human-readable custom field definition name. Can be used as an alternative to variable_name for targeting fields in template-based creation."
     },
     "dropdown_options": {
      "description": "Options for dropdown fields",
      "oneOf": [
       {
        "type": "array",
        "items": {
         "type": "string"
        }
       },
       {
        "type": "object"
       }
      ]
     },
     "date_default": {
      "type": "string",
      "format": "date",
      "nullable": true,
      "description": "Default date value"
     },
     "date_signing_default": {
      "type": "boolean",
      "default": false,
      "description": "Use signing date as default"
     },
     "multi_group_id": {
      "type": "string",
      "format": "uuid",
      "nullable": true,
      "description": "Group ID for linking multiple checkbox or radio button fields together. Fields sharing the same multi_group_id behave as a mutually exclusive group (like radio buttons) - selecting one automatically deselects the others in the group. Use the same UUID across multiple fields to create a group where only one option can be selected at a time."
     },
     "format_rules": {
      "oneOf": [
       {
        "$ref": "#/components/schemas/DateFormatRules"
       },
       {
        "$ref": "#/components/schemas/FileFormatRules"
       },
       {
        "type": "object",
        "additionalProperties": true
       }
      ],
      "nullable": true,
      "description": "Formatting rules for field value. For date fields, use DateFormatRules schema with dateFormat property. For file fields, use FileFormatRules schema with acceptedFileTypes property (image_and_pdf, image, or pdf). For url fields, use { urlDisplayText: string }. Text-bearing fields (text, textarea, email, name, phone, company, title, number, dropdown, url, date) additionally accept an optional fontSize property (integer px, 8-48, clamped) - see TextFormatRules."
     },
     "validation_rules": {
      "$ref": "#/components/schemas/FieldValidationRules"
     },
     "read_only": {
      "type": "boolean",
      "default": false,
      "description": "Whether this field is read-only (pre-filled before signing). When true, the signer cannot edit the field value. Useful for displaying contract terms, recipient information, or other fixed data."
     },
     "read_only_value": {
      "type": "string",
      "nullable": true,
      "description": "Static value for read-only fields. Takes precedence over prefilled_data if both are specified. Only applicable when read_only is true. Example: 'Contract #12345' or 'Acme Corporation'."
     },
     "prefilled_data": {
      "type": "string",
      "nullable": true,
      "enum": [
       "first_name",
       "last_name",
       "full_name",
       "email",
       "phone_number",
       "company",
       "title",
       "street_address",
       "city",
       "state_province",
       "postal_code",
       "country"
      ],
      "description": "User attribute to auto-populate when read_only is true. Value is pulled from the assigned recipient's data at signing time. Can also reference custom_fields keys defined on the recipient (not limited to enum values). Only applicable when read_only is true and read_only_value is not set. Example: Set to 'email' to display the recipient's email address."
     },
     "required_conditions": {
      "$ref": "#/components/schemas/ConditionSet",
      "nullable": true,
      "description": "Conditional rules for when this field is required. When set, overrides the static 'required' flag. The field is required only when the conditions evaluate to true based on other field values."
     },
     "visibility_conditions": {
      "$ref": "#/components/schemas/ConditionSet",
      "nullable": true,
      "description": "Conditional rules for when this field is visible. When set, the field is hidden unless the conditions evaluate to true. Hidden fields are not validated on submission."
     },
     "background_color": {
      "type": "string",
      "nullable": true,
      "pattern": "^#([0-9A-Fa-f]{3}|[0-9A-Fa-f]{6})$",
      "description": "Background color for the field as a hex color string (e.g., '#FFFDE7', '#fff'). Useful for highlighting fields that need attention.",
      "example": "#FFFDE7"
     },
     "seal_participant_temp_id": {
      "type": "string",
      "nullable": true,
      "description": "Temporary ID of the seal participant this field is assigned to (matches temp_id in seal_participants array). Used during creation to link fields to seal participants defined in the same request."
     }
    }
   },
   "AnchorTag": {
    "type": "object",
    "additionalProperties": false,
    "required": [
     "anchor_string",
     "type",
     "recipient_id"
    ],
    "description": "Anchor tag definition for automatic field placement. Anchor tags are text markers embedded in a PDF document (e.g., '{{SIGN_HERE}}') that are automatically located and converted into positioned fields. The anchor text is removed from the PDF after processing by default.",
    "properties": {
     "anchor_string": {
      "type": "string",
      "minLength": 1,
      "maxLength": 200,
      "description": "Text string to search for in the PDF document. Common patterns include '{{SIGN_HERE}}', '{{DATE}}', etc.",
      "example": "{{SIGN_HERE}}"
     },
     "type": {
      "type": "string",
      "enum": [
       "signature",
       "initial",
       "initials",
       "text",
       "date",
       "checkbox",
       "radio_buttons",
       "radio",
       "dropdown",
       "textarea",
       "text_area",
       "url",
       "approval_signature",
       "approval_checkmark",
       "approval_date"
      ],
      "description": "Type of field to place at the anchor location"
     },
     "recipient_id": {
      "oneOf": [
       {
        "type": "integer"
       },
       {
        "type": "string"
       }
      ],
      "description": "ID of the recipient assigned to this field. Use temporary ID (e.g., 'temp_1') for document-based creation or integer order for template-based.",
      "example": "temp_1"
     },
     "x_offset": {
      "type": "number",
      "description": "Horizontal offset from anchor position. Units determined by offset_units (default: percent of page width).",
      "default": 0
     },
     "y_offset": {
      "type": "number",
      "description": "Vertical offset from anchor position. Units determined by offset_units (default: percent of page height).",
      "default": 0
     },
     "offset_units": {
      "type": "string",
      "enum": [
       "percent",
       "pixels"
      ],
      "default": "percent",
      "description": "Unit type for x_offset and y_offset. 'percent' = percentage of page dimensions, 'pixels' = PDF points (72 DPI)."
     },
     "width": {
      "type": "number",
      "minimum": 0,
      "exclusiveMinimum": true,
      "description": "Field width as percentage of page width. Defaults vary by field type (e.g., signature=25, text=20, checkbox=3)."
     },
     "height": {
      "type": "number",
      "minimum": 0,
      "exclusiveMinimum": true,
      "description": "Field height as percentage of page height. Defaults vary by field type (e.g., signature=5, text=3, checkbox=3)."
     },
     "case_sensitive": {
      "type": "boolean",
      "default": false,
      "description": "Whether anchor string matching is case-sensitive"
     },
     "match_whole_word": {
      "type": "boolean",
      "default": true,
      "description": "Whether to match whole words only (bounded by non-word characters)"
     },
     "ignore_if_not_present": {
      "type": "boolean",
      "default": false,
      "description": "If true, skip this anchor without error when not found in the document. If false (default), a missing anchor causes a validation error."
     },
     "occurrence": {
      "type": "integer",
      "minimum": 0,
      "maximum": 1000,
      "default": 0,
      "description": "Which occurrence to place a field on. 0 = all occurrences (default), 1 = first only, 2 = second only, etc."
     },
     "remove_anchor_text": {
      "type": "boolean",
      "default": true,
      "description": "Whether to remove the anchor text using corrected glyph geometry and sub-pixel text removal. Defaults to true."
     },
     "add_white_background": {
      "type": "boolean",
      "default": false,
      "description": "Whether to draw a white background across the full resolved field rectangle. This is independent of anchor-text removal."
     },
     "required": {
      "type": "boolean",
      "default": true,
      "description": "Whether the field must be completed by the signer"
     },
     "read_only": {
      "type": "boolean",
      "default": false,
      "description": "Whether the field is read-only (pre-filled)"
     },
     "read_only_value": {
      "type": "string",
      "nullable": true,
      "maxLength": 10000,
      "description": "Static value for read-only fields"
     },
     "variable_name": {
      "type": "string",
      "nullable": true,
      "maxLength": 255,
      "description": "Variable name for the field"
     },
     "variable_defined_name": {
      "type": "string",
      "maxLength": 100,
      "nullable": true,
      "description": "Human-readable custom field definition name. Can be used as an alternative to variable_name for targeting fields in template-based creation."
     },
     "background_color": {
      "type": "string",
      "nullable": true,
      "pattern": "^#([0-9A-Fa-f]{3}|[0-9A-Fa-f]{6})$",
      "description": "Background color as hex (e.g., '#FFFDE7')",
      "example": "#FFFDE7"
     },
     "font_size": {
      "type": "integer",
      "minimum": 8,
      "maximum": 48,
      "description": "Optional starting/maximum font size in pixels for text-bearing field types, stored on the resolved field as format_rules.fontSize (see TextFormatRules). Text still auto-shrinks to fit the field box. Omit for automatic sizing. Values outside 8-48 are clamped; non-numeric values are ignored.",
      "example": 12
     },
     "dropdown_options": {
      "description": "Options for dropdown fields",
      "oneOf": [
       {
        "type": "array",
        "items": {
         "type": "string"
        }
       },
       {
        "type": "object"
       }
      ]
     },
     "date_default": {
      "type": "string",
      "nullable": true,
      "maxLength": 50,
      "description": "Default date value"
     },
     "date_signing_default": {
      "type": "boolean",
      "default": false,
      "description": "Use signing date as default"
     },
     "multi_group_id": {
      "type": "string",
      "nullable": true,
      "maxLength": 255,
      "description": "Group ID for linking checkbox/radio fields"
     }
    }
   },
   "ConditionSet": {
    "type": "object",
    "required": [
     "logic",
     "groups"
    ],
    "description": "A set of condition groups with nested logic. The outer 'logic' operator combines groups, while each group's conditions use the opposite operator. Example: logic='and' means all groups must match, and within each group any condition can match (OR).",
    "properties": {
     "logic": {
      "type": "string",
      "enum": [
       "and",
       "or"
      ],
      "description": "Logical operator to combine groups. 'and' = all groups must match, 'or' = any group can match."
     },
     "groups": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/ConditionGroup"
      },
      "description": "Array of condition groups"
     }
    }
   },
   "ConditionGroup": {
    "type": "object",
    "required": [
     "conditions"
    ],
    "properties": {
     "conditions": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/Condition"
      },
      "description": "Array of conditions within this group. Combined using the opposite of the parent ConditionSet's logic operator."
     }
    }
   },
   "Condition": {
    "type": "object",
    "required": [
     "field_id",
     "operator"
    ],
    "description": "A single condition that evaluates a field's value.",
    "properties": {
     "field_id": {
      "type": "string",
      "format": "uuid",
      "description": "ID of the field to evaluate"
     },
     "operator": {
      "type": "string",
      "enum": [
       "is_filled",
       "is_empty",
       "equals",
       "not_equals",
       "contains",
       "not_contains",
       "greater_than",
       "less_than",
       "greater_than_or_equal",
       "less_than_or_equal"
      ],
      "description": "Comparison operator. 'is_filled'/'is_empty' don't require a value. Text operators: equals, not_equals, contains, not_contains. Numeric/date operators: greater_than, less_than, greater_than_or_equal, less_than_or_equal."
     },
     "value": {
      "oneOf": [
       {
        "type": "string"
       },
       {
        "type": "number"
       }
      ],
      "nullable": true,
      "description": "Value to compare against. Not required for is_filled/is_empty operators."
     }
    }
   },
   "SigningRequestReminder": {
    "type": "object",
    "required": [
     "hours",
     "subject",
     "message"
    ],
    "properties": {
     "id": {
      "type": "string",
      "format": "uuid",
      "description": "Unique identifier (include for updates, omit for new reminders)"
     },
     "hours": {
      "type": "integer",
      "minimum": 1,
      "description": "Hours before expiration to send reminder"
     },
     "all_users": {
      "type": "boolean",
      "default": false,
      "description": "Send reminder to all recipients"
     },
     "recipient_id": {
      "type": "string",
      "nullable": true,
      "description": "Specific recipient ID (required if all_users is false). Use real UUID for existing recipients or temporary ID (e.g., 'temp_1') for document-based creation to reference recipients in the same request."
     },
     "subject": {
      "type": "string",
      "maxLength": 255,
      "description": "Email subject line"
     },
     "message": {
      "type": "string",
      "maxLength": 5000,
      "description": "Email message body"
     }
    }
   },
   "DeletedRecipient": {
    "type": "object",
    "required": [
     "recipient_id",
     "field_action"
    ],
    "properties": {
     "recipient_id": {
      "type": "string",
      "format": "uuid",
      "description": "ID of recipient to delete"
     },
     "field_action": {
      "type": "string",
      "enum": [
       "delete",
       "reassign"
      ],
      "description": "Action to take with fields assigned to this recipient"
     },
     "reassign_to_recipient_id": {
      "type": "string",
      "format": "uuid",
      "description": "Recipient to reassign fields to (required if field_action is 'reassign')"
     }
    }
   },
   "SigningRequestUser": {
    "type": "object",
    "properties": {
     "id": {
      "type": "string",
      "format": "uuid",
      "description": "Unique identifier for the signing request user"
     },
     "name": {
      "type": "string",
      "description": "Recipient name (combined first and last name)"
     },
     "email": {
      "type": "string",
      "format": "email",
      "description": "Recipient email address"
     },
     "first_name": {
      "type": "string",
      "nullable": true,
      "description": "Recipient first name"
     },
     "last_name": {
      "type": "string",
      "nullable": true,
      "description": "Recipient last name"
     },
     "designation": {
      "type": "string",
      "enum": [
       "Signer",
       "Approver",
       "CC"
      ],
      "description": "Role of the recipient. Signer signs the document, Approver approves with approval fields, CC receives a copy when complete."
     },
     "order": {
      "type": "integer",
      "minimum": 1,
      "description": "Signing order"
     },
     "finished_on": {
      "type": "string",
      "format": "date-time",
      "nullable": true,
      "description": "Timestamp when this recipient completed all actions"
     },
     "declined_on": {
      "type": "string",
      "format": "date-time",
      "nullable": true,
      "description": "Timestamp when this recipient declined to sign"
     },
     "decline_reason": {
      "type": "string",
      "nullable": true,
      "description": "Reason provided by recipient for declining"
     },
     "phone_number": {
      "type": "string",
      "nullable": true,
      "description": "Recipient phone number"
     },
     "street_address": {
      "type": "string",
      "nullable": true,
      "description": "Recipient street address"
     },
     "city": {
      "type": "string",
      "nullable": true,
      "description": "Recipient city"
     },
     "state_province": {
      "type": "string",
      "nullable": true,
      "description": "Recipient state or province"
     },
     "postal_code": {
      "type": "string",
      "nullable": true,
      "description": "Recipient postal code"
     },
     "country": {
      "type": "string",
      "nullable": true,
      "description": "Recipient country"
     },
     "title": {
      "type": "string",
      "nullable": true,
      "description": "Recipient job title"
     },
     "company": {
      "type": "string",
      "nullable": true,
      "description": "Recipient company name"
     },
     "custom_fields": {
      "type": "object",
      "nullable": true,
      "description": "Custom field values for this recipient"
     },
     "required_fields": {
      "type": "array",
      "items": {
       "type": "string"
      },
      "description": "List of recipient data fields required for sending (based on fields with variable_name mappings). Always includes 'email' and 'first_name'."
     },
     "missing_fields": {
      "type": "array",
      "items": {
       "type": "string"
      },
      "description": "List of required fields that are currently empty for this recipient"
     },
     "required_read_only_fields": {
      "type": "array",
      "items": {
       "type": "object",
       "properties": {
        "variable_name": {
         "type": "string",
         "nullable": true,
         "description": "Variable name of the read-only field"
        },
        "variable_defined_name": {
         "type": "string",
         "nullable": true,
         "description": "Human-readable field name from the custom field definition (e.g. 'artist_name'). Only present for fields linked to a custom field definition, null otherwise."
        },
        "field_type": {
         "type": "string",
         "description": "Type of the field (text, date, etc.)"
        },
        "has_value": {
         "type": "boolean",
         "description": "Whether this read-only field has a value set"
        }
       }
      },
      "description": "List of required read-only fields that need pre-filled values before sending"
     },
     "ready_to_send": {
      "type": "boolean",
      "description": "Whether this recipient has all required data filled in for sending"
     }
    },
    "required": [
     "id",
     "first_name",
     "email",
     "designation",
     "order"
    ]
   },
   "SigningRequestField": {
    "type": "object",
    "description": "Field associated with a signing request, containing position, type, and value information",
    "properties": {
     "id": {
      "type": "string",
      "format": "uuid",
      "description": "Unique identifier for the field"
     },
     "type": {
      "type": "string",
      "enum": [
       "text",
       "signature",
       "date",
       "checkbox",
       "initial",
       "dropdown",
       "radio_buttons",
       "text_area",
       "url",
       "file",
       "stamp",
       "approval_signature",
       "approval_checkmark",
       "approval_date"
      ],
      "description": "Type of the field. Clean alias for field_type."
     },
     "recipient_id": {
      "type": "string",
      "format": "uuid",
      "nullable": true,
      "description": "ID of the recipient assigned to this field. Clean alias for companies_workspaces_signing_requests_users_id."
     },
     "value": {
      "type": "string",
      "nullable": true,
      "description": "Final signed value of the field. Clean alias for final_value."
     },
     "position": {
      "type": "object",
      "description": "Position and dimensions of the field on the document. All values are percentages (0-100).",
      "properties": {
       "x": {
        "type": "number",
        "nullable": true,
        "description": "X position (percentage, 0-100). Clean alias for x_postion."
       },
       "y": {
        "type": "number",
        "nullable": true,
        "description": "Y position (percentage, 0-100). Clean alias for y_position."
       },
       "width": {
        "type": "number",
        "nullable": true,
        "description": "Width (percentage, 0-100)."
       },
       "height": {
        "type": "number",
        "nullable": true,
        "description": "Height (percentage, 0-100). Clean alias for heigh."
       }
      }
     },
     "companies_workspaces_signing_requests_id": {
      "type": "string",
      "format": "uuid",
      "description": "Deprecated: redundant with path parameter. ID of the signing request this field belongs to."
     },
     "companies_workspaces_signing_requests_users_id": {
      "type": "string",
      "format": "uuid",
      "nullable": true,
      "description": "Deprecated: use 'recipient_id' instead. ID of the recipient assigned to this field."
     },
     "field_type": {
      "type": "string",
      "enum": [
       "text",
       "signature",
       "date",
       "checkbox",
       "initial",
       "dropdown",
       "radio_buttons",
       "text_area",
       "url",
       "file",
       "stamp",
       "approval_signature",
       "approval_checkmark",
       "approval_date"
      ],
      "description": "Deprecated: use 'type' instead. Type of the field."
     },
     "required": {
      "type": "boolean",
      "description": "Whether the field is required."
     },
     "x_postion": {
      "type": "number",
      "nullable": true,
      "description": "Deprecated: use 'position.x' instead. X position (note: column name has typo)."
     },
     "y_position": {
      "type": "number",
      "nullable": true,
      "description": "Deprecated: use 'position.y' instead. Y position of the field."
     },
     "width": {
      "type": "number",
      "nullable": true,
      "description": "Deprecated: use 'position.width' instead. Width of the field."
     },
     "heigh": {
      "type": "number",
      "nullable": true,
      "description": "Deprecated: use 'position.height' instead. Height (note: column name has typo)."
     },
     "page_number": {
      "type": "integer",
      "nullable": true,
      "description": "Page number where the field is located (1-indexed)"
     },
     "tl_position": {
      "type": "number",
      "nullable": true,
      "description": "Top-left corner position"
     },
     "tr_position": {
      "type": "number",
      "nullable": true,
      "description": "Top-right corner position"
     },
     "bl_position": {
      "type": "number",
      "nullable": true,
      "description": "Bottom-left corner position"
     },
     "br_position": {
      "type": "number",
      "nullable": true,
      "description": "Bottom-right corner position"
     },
     "variable_name": {
      "type": "string",
      "nullable": true,
      "description": "Variable name for prefilled data mapping"
     },
     "variable_defined_name": {
      "type": "string",
      "nullable": true,
      "description": "Human-readable field name from the custom field definition (e.g. 'artist_name'). Only present for fields linked to a custom field definition, null otherwise."
     },
     "final_value": {
      "type": "string",
      "nullable": true,
      "description": "Deprecated: use 'value' instead. Final signed value of the field."
     },
     "date_default": {
      "type": "string",
      "nullable": true,
      "description": "Default date value"
     },
     "date_signing_default": {
      "type": "boolean",
      "nullable": true,
      "description": "Whether to use signing date as default."
     },
     "format_rules": {
      "type": "object",
      "nullable": true,
      "description": "Formatting rules (e.g., date format)"
     },
     "validation_rules": {
      "type": "object",
      "nullable": true,
      "description": "Validation rules for the field"
     },
     "dropdown_options": {
      "nullable": true,
      "description": "Options for dropdown fields",
      "oneOf": [
       {
        "type": "array",
        "items": {
         "type": "string"
        }
       },
       {
        "type": "object"
       }
      ]
     },
     "multi_group_id": {
      "type": "string",
      "format": "uuid",
      "nullable": true,
      "description": "Group ID for linking multiple checkbox or radio button fields together. Fields sharing the same multi_group_id behave as a mutually exclusive group (like radio buttons) - selecting one automatically deselects the others in the group. Use the same UUID across multiple fields to create a group where only one option can be selected at a time."
     },
     "read_only": {
      "type": "boolean",
      "description": "Whether the field is read-only."
     },
     "read_only_value": {
      "type": "string",
      "nullable": true,
      "description": "Static value for read-only fields"
     },
     "background_color": {
      "type": "string",
      "nullable": true,
      "description": "Background color as hex (e.g., '#FFFDE7')"
     },
     "calculated_font_size": {
      "type": "number",
      "nullable": true,
      "description": "Calculated font size for the field"
     },
     "deleted": {
      "type": "integer",
      "enum": [
       0,
       1
      ],
      "description": "Deprecated: internal field, will be removed in v2. Soft delete flag (0 = active, 1 = deleted)."
     }
    },
    "required": [
     "id",
     "field_type",
     "page_number"
    ]
   },
   "SendSigningRequestResponse": {
    "type": "object",
    "properties": {
     "success": {
      "type": "boolean",
      "description": "Whether the signing request was sent successfully"
     },
     "message": {
      "type": "string",
      "description": "Success message"
     },
     "sentTo": {
      "type": "string",
      "format": "email",
      "description": "Email address the signing request was sent to"
     },
     "sentAt": {
      "type": "string",
      "format": "date-time",
      "description": "Timestamp when the request was sent"
     }
    }
   },
   "Webhook": {
    "type": "object",
    "properties": {
     "id": {
      "type": "string",
      "format": "uuid",
      "description": "Unique identifier for the webhook"
     },
     "url": {
      "type": "string",
      "format": "uri",
      "description": "Webhook URL"
     },
     "description": {
      "type": "string",
      "nullable": true,
      "description": "Webhook description"
     },
     "events": {
      "type": "array",
      "items": {
       "type": "string"
      },
      "description": "Events that trigger this webhook"
     },
     "enabled": {
      "type": "boolean",
      "description": "Whether the webhook is enabled"
     },
     "consecutive_failures": {
      "type": "integer",
      "description": "Number of consecutive delivery failures"
     },
     "auto_disabled_at": {
      "type": "string",
[...]
